<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-lg-9 mx-auto text-center bold">                    
                    <div class="row">
                        <div class="col-12">
                           <img src="./assets/logos/maestro-icon.svg" alt="">
                            New Contact 
                        </div>
                        <div class="col-12 mt-5">
                            <form [formGroup]="contactAddForm">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" formControlName="name" id="" placeholder="Name">
                                        </div>    
                                        
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" formControlName="description" id="" placeholder="Description">
                                        </div>  

                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" formControlName="role" id="" placeholder="Role">
                                            <br>
                                        </div>  
                                   
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" formControlName="email" id="" placeholder="Email">
                                        </div>  

                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" formControlName="phone" id="" placeholder="Phone">
                                        </div>  

                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" formControlName="geolocation" id="" placeholder="Geolocation">
                                            <br>
                                        </div>  
                                   
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" formControlName="website" id="" placeholder="Website">
                                        </div>  

                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" formControlName="linkedin" id="" placeholder="Linkedin">
                                        </div>  

                                                                                                      
                                     
                                    </div>
                                </div> 
                                
                                <div class="row">
                                    <div class="col-6 text-center my-auto mt-3">
                                        <a href="javascript:void(0)" routerLinkActive='active' routerLink='/admin/account/contacts' class="txt-gray">Cancel</a>
                                    </div>
                                    <div class="col-6 mt-3" href="javascript:void(0)" >
                                        <button class="btn btn-maestro orange w-100" (click)="addAccountList()">Save</button> 
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
