<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-lg-4 mx-auto text-center bold">                    
                    <div class="row">
                        <div class="col-12">
                           <img src="./assets/logos/maestro-icon.svg" alt="">
                            Login 
                        </div>
                        <div class="col-12 mt-3">
                            <form [formGroup]="loginForm">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="username" id="" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">O campo email é Obrigatório</div>
                                    </div>
                                </div>     
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="password" id="" placeholder="*Password*" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">O campo senha é Obrigatório</div>
                                    </div>
                                </div>  
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6 text-center my-auto">
                                            <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModalAddNewUser" class="txt-gray">Sign Up</a>
                                        </div>                                        
                                        <div class="col-6" href="javascript:void(0)" routerLinkActive='active' routerLink='/admin'>
                                            <button class="btn btn-maestro orange w-100" (click)=" login()">Login</button> <!--[disabled]="login.invalid"-->
                                        </div>
                                        <!--div class="col-6 mx-auto text-center mt-3">
                                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='/auth/change-password' class="txt-gray">Alterar senha</a>
                                        </div-->
                                    </div>
                                </div>                                 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal add new user -->
<div class="modal fade" id="exampleModalAddNewUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalAddNewUser" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalAddNewUser">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="name" id="" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">O campo name é Obrigatório</div>
                    </div>
                </div>  
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="surname" id="" placeholder="Surname" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                        <div *ngIf="f.surname.errors.required">O campo surname é Obrigatório</div>
                    </div>
                </div>  
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="username" id="" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">O campo email é Obrigatório</div>
                    </div>
                </div>     
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="password" id="" placeholder="*Senha*" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">O campo senha é Obrigatório</div>
                    </div>
                </div>  
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 text-center my-auto mt-3">
                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='/admin/account/account-list' class="txt-gray" data-dismiss="modal">Cancel</a>
                        </div>
                        <div class="col-6 mt-3" href="javascript:void(0)" routerLinkActive='active' routerLink='/auth'>
                            <button class="btn btn-maestro orange w-100" (click)="addNewUser()" data-dismiss="modal">Save</button> 
                        </div>
                    </div>
                </div>                                 
            </form>
        </div>
      </div>
    </div>
</div>