<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-white">
            <div class="row">
                <div class="col-11 mx-auto item-top">
                    <div class="row">
                        <div class="col-lg-7">
                            <h1>
                                Hello, {{name}}!
                                <img src="./assets/icons/hand-emoji.svg" alt="emoji">
                            </h1>
                            <div class="msg-alert">You have <span>5 tasks</span> to complete this week.</div>
                        </div>
                        <div class="col-lg-5">
                            <h1>{{company?.name}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div *ngIf="hasCompany" class="row">
                <div class="col-11 mx-auto mt-4">
                    <h5>Create a new play</h5>
                    <div class="row">
                        <div class="col-12 quickcard v2">
                            <div class="row">
                                <div class="col-lg-2 col-4 mx-auto">
                                    <a href="javascript:void(0)" routerLinkActive='active' routerLink='/admin/playbook'>
                                        <div class="card-create">
                                            <img src="./assets/icons/plus-create.svg" alt="create-scratch">
                                        </div>
                                    </a>
                                    <h6 class="mt-3">Create from scratch</h6>
                                </div>
                                <div class="col-lg-2 col-4 mx-auto">
                                    <div class="card-create template">
                                        <img src="./assets/icons/awareness.svg" alt="Awareness">
                                    </div>
                                    <h6 class="mt-3">Awareness</h6>
                                </div>
                                <div class="col-lg-2 col-4 mx-auto">
                                    <div class="card-create template">
                                        <img src="./assets/icons/marketing-play.svg" alt="Marketing Play">
                                    </div>
                                    <h6 class="mt-3">Marketing Play</h6>
                                </div>
                                <div class="col-lg-2 col-4 mx-auto">
                                    <div class="card-create template">
                                        <img src="./assets/icons/sales-play.svg" alt="Sales Play">
                                    </div>
                                    <h6 class="mt-3">Sales Play</h6>
                                </div>
                                <div class="col-lg-2 col-4 mx-auto">
                                    <div class="card-create template">
                                        <img src="./assets/icons/cs-play.svg" alt="cs-play">
                                    </div>
                                    <h6 class="mt-3">CS Play</h6>
                                </div>
                                <div class="col-lg-2 col-4 mx-auto">
                                    <div class="card-create template">
                                        <img src="./assets/icons/template.svg" alt="show-templates">
                                    </div>
                                    <h6 class="mt-3">Show all templates</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="hasCompany" class="row">
                <div class="col-11 mx-auto mt-4">
                    <h5>Manage Company info of : {{company?.name}}</h5>
                    <div class="row">
                        <div class="col-12 quickcard v2">
                            <div class="row">
                                <div class="col-lg-2 col-4 mx-auto">
                                    <div class="card-create" data-toggle="modal" data-target="#exampleModalEditCompany">
                                        <a (click)="loadCompany()">
                                            <img src="./assets/icons/pencil-white.svg" alt="edit-scratch">
                                        </a>
                                    </div>
                                    <h6 class="mt-3">Edit your Company</h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!hasCompany" class="row">
                <div class="col-11 mx-auto mt-4">
                    <h5>Create a new Company to Start</h5>
                    <div class="row">
                        <div class="col-5 quickcard v2">
                            <div class="row">
                                <div class="col-lg-6 col-12 mx-auto">
                                    <div class="card-create" data-toggle="modal" data-target="#exampleModalAddCompany">
                                        <a>
                                            <img src="./assets/icons/plus-create.svg" alt="create-scratch">
                                        </a>
                                    </div>
                                    <h6 class="mt-3">Create new Company</h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="hasCompany" class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-11 mx-auto">
                    <h5>Quick cards</h5>
                    <div class="txt-gray">Frequently executed actions</div>
                    <div class="row">
                        <div class="col-lg-3 col-6 mt-3">
                            <div class="quickcard">
                                Show Plays
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mt-3">
                            <div class="quickcard">
                                Show my tasks
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mt-3">
                            <div class="quickcard">
                                Manage touch-points
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 my-auto">
                            <div class="card-create add mt-3">
                                + Add
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="hasCompany" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-11 mx-auto my-5">
                    <h5>Recent Activity</h5>
                    <div class="card-create activity">
                        <div class="row">
                            <div class="col-12">
                                <div class="activity">
                                    <div class="row">
                                        <div class="col-lg-10 col-12">
                                            <div class="txt-hour">2 hours ago</div>
                                            <div class="text-uppercase txt-orange">Worc > Prospect play</div>
                                            <div>Connect to Linkedin</div>
                                            <div class="col-12 p-0">
                                                <div class="row">
                                                    <div class="col-lg-1 col-3">
                                                        <img src="./assets/photos/img.png" class="w-100" alt="">
                                                    </div>
                                                    <div class="col-lg-3 col-8 my-auto txt-description">
                                                        Clara changed the status to
                                                    </div>
                                                    <div class="col-lg-2 col-12 my-auto">
                                                        <div class="tag">
                                                            <img src="./assets/icons/dot-green.svg" alt="icon-done">
                                                            Done
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-12 my-auto">
                                            <a class="btn btn-maestro blue w-100" href="http://">
                                                See touchpoint</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="activity">
                                    <div class="row">
                                        <div class="col-lg-10 col-12">
                                            <div class="txt-hour">2 hours ago</div>
                                            <div class="text-uppercase txt-orange">Worc > Prospect play</div>
                                            <div>Connect to Linkedin</div>
                                            <div class="col-12 p-0">
                                                <div class="row">
                                                    <div class="col-lg-1 col-3">
                                                        <img src="./assets/photos/img.png" class="w-100" alt="">
                                                    </div>
                                                    <div class="col-lg-3 col-8 my-auto txt-description">
                                                        Clara changed the status to
                                                    </div>
                                                    <div class="col-lg-2 col-12 my-auto">
                                                        <div class="tag">
                                                            <img src="./assets/icons/dot-green.svg" alt="icon-done">
                                                            Done
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-12 my-auto">
                                            <a class="btn btn-maestro blue w-100" href="http://">
                                                See touchpoint</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="activity">
                                    <div class="row">
                                        <div class="col-lg-10 col-12">
                                            <div class="txt-hour">2 hours ago</div>
                                            <div class="text-uppercase txt-orange">Worc > Prospect play</div>
                                            <div>Connect to Linkedin</div>
                                            <div class="col-12 p-0">
                                                <div class="row">
                                                    <div class="col-lg-1 col-3">
                                                        <img src="./assets/photos/img.png" class="w-100" alt="">
                                                    </div>
                                                    <div class="col-lg-3 col-8 my-auto txt-description">
                                                        Clara changed the status to
                                                    </div>
                                                    <div class="col-lg-2 col-12 my-auto">
                                                        <div class="tag">
                                                            <img src="./assets/icons/dot-green.svg" alt="icon-done">
                                                            Done
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-12 my-auto">
                                            <a class="btn btn-maestro blue w-100" href="http://">
                                                See touchpoint</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal add company -->
<div class="modal fade" id="exampleModalAddCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalAddCompany"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalAddCompany">Add Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addCompanyForm">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-7">
                                <input type="text" class="form-control" formControlName="name" id="name"
                                    placeholder="Company Name">
                            </div>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" formControlName="ein" id=""
                                    placeholder="EIN/CNPJ">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-5">
                                <input type="number" class="form-control" formControlName="n_of_employees" id=""
                                    placeholder="N of employees">
                            </div>
                            <div class="col-lg-7">
                                <input type="number" class="form-control" formControlName="revenue" id=""
                                    placeholder="Revenue">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-5">
                                <input type="text" class="form-control" formControlName="industry" id=""
                                    placeholder="Industry">
                            </div>
                            <div class="col-7">
                                <input type="text" class="form-control" formControlName="description" id=""
                                    placeholder="Description">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="geolocation" id=""
                            placeholder="Geolocation">
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 text-center" href="javascript:void(0)" routerLinkActive='active'
                                routerLink='/admin'>
                                <button class="btn btn-maestro orange w-50" data-dismiss="modal"
                                    (click)="registerCompany()">Add Company</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit company -->
<div class="modal fade" id="exampleModalEditCompany" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalEditCompany" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalEditCompany">Edit Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addCompanyForm">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-7">
                                <label for="name">Company name</label>
                                <input type="text" class="form-control" formControlName="name" id="name"
                                    placeholder="Company name">
                            </div>
                            <div class="col-lg-5">
                                <label for="ein">EIN/CNPJ</label>
                                <input type="text" class="form-control" formControlName="ein" id="ein"
                                    placeholder="EIN/CNPJ">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="n_of_employees">N of employees</label>
                                <input type="number" class="form-control" formControlName="n_of_employees"
                                    id="n_of_employees" placeholder="N of employees">
                            </div>
                            <div class="col-lg-8">
                                <label for="industry">Industry</label>
                                <input type="text" class="form-control" formControlName="industry" id="industry"
                                    placeholder="Industry">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="revenue">Revenue</label>
                                <input type="number" class="form-control" formControlName="revenue" id="revenue"
                                    placeholder="Revenue">
                            </div>
                            <div class="col-6">
                                <label for="geolocation">Geolocation</label>
                                <input type="text" class="form-control" formControlName="geolocation" id="geolocation"
                                    placeholder="Geolocation">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <!-- <input type="text" class="form-control" formControlName="description" id="description" placeholder="Description"> -->
                        <textarea class="form-control" formControlName="description" id="description"
                            placeholder="Description" cols="30" rows="5"></textarea>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 text-center" href="javascript:void(0)" routerLinkActive='active'
                                routerLink='/admin'>
                                <button class="btn btn-maestro orange w-50" data-dismiss="modal"
                                    (click)="updateCompany()">Update Company</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>