@import 'variables';
@import 'helpers';
@import 'components';

.item-top {
    padding: 20px 0;
    span { color: $color-7;}
    h6 { text-align: right; }
    @include media-breakpoint-down(md) {
        padding: 15px 0;
        h1 { font-size: 2.0em; }
        img { width: 40px;}
        h6 { text-align: left; }
    }
}
.msg-alert { 
    font-size: 20px;
    @include media-breakpoint-down(md) {
        font-size: 16px;
    }
}
.card-create {
    border-radius: 10px;
    background-color: $color-7;
    @include media-breakpoint-down(md) {
        font-size: 12px;
        img { width: 30px; }
    }

    &.template { background-color: $color-15; }
    &.add {
        width: 100%;
        color: $color-11;
        font-size: 14px;
        padding: 20px 10px;
        text-align: center;
        background-color: $color-2;
        font-family: 'OpenSans-SemiBold'
    }    
    &.activity {
        padding: 20px;
        height: 70vh;
        background-color: $color-2;
        overflow-y: scroll;
        overflow-x: hidden;
        border-right: 1px solid $color-16;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-16;
            border-radius: 20px;
            height: 10vh;
        }
    }
}
.quickcard {
    @include media-breakpoint-down(md) { font-size: 12px; }
}
.activity {
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    background-color: $color-1;
    font-family: 'OpenSans-SemiBold';
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.39);

    .txt-hour {
        color: $color-11;
        font-size: 12px;
    }

    .txt-description {
        color: $color-11;
        font-size: 14px;
        text-align: left;
        padding: 0;
    }

    .tag {
        padding: 5px;
        font-size: 12px;
        text-align: center;
        border-radius: 20px;
        text-transform: uppercase;
        background-color: $color-2;
        @include media-breakpoint-down(md) { 
            img { width: 15px !important;}
        }
    }
}