<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center bold">                    
                    <div class="row">
                        <div class="col-12">
                           <img src="./assets/logos/maestro-icon.svg" alt="">
                            Register 
                        </div>
                        <div class="col-12 mt-5">
                            <form [formGroup]="registerForm">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" formControlName="name" id="" placeholder="Empresa">
                                        </div>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" formControlName="ein" id="" placeholder="EIN/CNPJ">
                                        </div>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="row">                                        
                                        <div class="col-lg-5">
                                            <input type="number" class="form-control" formControlName="n_of_employees" id="" placeholder="N de funcionários">
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="number" class="form-control" formControlName="revenue" id="" placeholder="Receita">
                                        </div>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-5">
                                            <input type="text" class="form-control" formControlName="industry" id="" placeholder="Setor">
                                        </div>
                                        <div class="col-7">
                                            <input type="text" class="form-control" formControlName="description" id="" placeholder="Descricao">
                                        </div>
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="geolocation" id="" placeholder="Localização">
                                </div> 
                                
                                <div class="row">
                                    <div class="col-6 text-center my-auto mt-3">
                                        <a href="javascript:void(0)" routerLinkActive='active' routerLink='/auth' class="txt-gray">Voltar ao login</a>
                                    </div>
                                    <div class="col-6 mt-3" href="javascript:void(0)" routerLinkActive='active' routerLink='/admin'>
                                        <button class="btn btn-maestro orange w-100" (click)="registerCompany()">Criar</button> <!--[disabled]="login.invalid"-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
