@import 'helpers';
@import 'variables';
@import 'components';

.nav-C::before {
    content: '';
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 1;
    opacity: 0.5;
    background-color: $color-11;    
}
.nav-conta {
    cursor: pointer;
    color: $color-11;
    padding: 10px 0px;
    &:hover, &.active {
        color: $color-6;
        &::before {
            content: '';
            position: absolute;
            top: 45px;
            left: 0;
            width: 100%;
            height: 3px;
            z-index: 2;
            background-color: $color-7;   
        }
    }
}

.btn-task {
    color: $color-1 !important;
    text-align: left;
    padding: 10px;
    background-color: rgb(213, 217, 230,0.5);
}

#new {
    position: absolute;
    top: -5px;
    right: 20px;
    z-index: 1;
}

.form-check {
    &.v1 {
        color: $color-5;
        border-radius: 10px;
        padding: 8px 20px;
        background-color: $color-1;
    }
}
.form-check-input {
    &.v1 { left: 25px !important; }
}
.on {
    color: $color-7;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(248, 76, 76,0.5) !important;
}
.finished {
    color: $color-14;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(70, 152, 33,0.5) !important;
}
.draft {
    color: $color-11;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(112, 112, 112,0.5) !important
}
.details { 
    padding: 0 45px;
    text-align: left;
}
.titleD {
    color: $color-11;
    text-transform: uppercase;
    font-family: 'OpenSans-Bold';
}