<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 mx-auto">               
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 my-auto link" routerLinkActive='active' routerLink='/admin/account/accounts'>
                                    <img src="./assets/icons/arrow.svg" class="w-100" alt="back">
                                </div>
                                <div class="col-8">
                                    <div class="text-uppercase txt-orange">Conta</div>
                                    <h1 class="bold">Worc</h1> 
                                </div>
                            </div>
                        </div>
                        <div class="col-12 quickcard v1">
                            <div class="row">
                                <div class="col-12 nav-C">
                                    <div class="row">
                                        <div class="col-2 nav-conta" (click)="contas('base')">Base</div>
                                        <div class="col-2 nav-conta" (click)="contas('active')">Active Plays</div>
                                        <div class="col-2 nav-conta" (click)="contas('tasks')">Tasks</div>
                                        <div class="col-2 nav-conta" (click)="contas('details')">Account Details</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="base">                                
                                <div class="col-lg-2 col-6 p-1">
                                    <a class="btn btn-maestro orange w-100" (click)="this.helper.new()">
                                        <img src="./assets/icons/plus-white-a.svg" alt="new-icon">
                                        Add contact
                                    </a>
                                </div>
                                <div class="col-lg-2 col-6 p-1">
                                    <a class="btn btn-maestro blue w-100"
                                    data-toggle="modal" data-target="#exampleModalConta">
                                        <img src="./assets/icons/hand.svg" alt="action-icon">
                                        Actions
                                    </a>
                                </div>
                                <div class="col-lg-7 col-11 mx-auto search-account">
                                    <div class="row">  
                                        <div class="col-lg-3 col-6">
                                            <form> 
                                                <div class="form-group">
                                                    <select id="account" class="form-control">
                                                        <option disabled> All</option>
                                                        <option value="country"> Deploy </option>
                                                    </select>
                                                </div>                                        
                                            </form>
                                        </div>                                      
                                        <div class="col-lg-3 col-4">
                                            <a class="btn btn-maestro gray w-100">
                                                <img src="./assets/icons/download.svg" alt="download-icon">
                                                Export
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-8" >
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" name="" id="account" class="form-control" placeholder="Busca">
                                                </div>                                        
                                            </form>
                                        </div>
                                    </div>
                                </div>            
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-3 list-account">name</div>
                                        <div class="col-2 text-uppercase list-account">role</div>
                                        <div class="col-2 text-uppercase list-account">email</div>
                                        <div class="col-2 list-account">phone</div>
                                        <div class="col-3 list-account">linkedin</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <form [formGroup]="this.helper.form">
                                        <div class="form-check" *ngFor="let c of conta">
                                            <input class="form-check-input" type="radio" id="list" formControlName="radio"  [value]="c.name">
                                            <label class="form-check-label w-100" for="list">
                                                <div class="row">
                                                    <div class="col-3 list-account v1 txt-orange my-auto">{{c.name}}</div>
                                                    <div class="col-2 text-uppercase list-account v1 my-auto">{{c.role}}</div>
                                                    <div class="col-2 text-uppercase list-account v1 my-auto">{{ c.email }}</div>
                                                    <div class="col-2 list-account v1 my-auto">{{c.phone}}</div>
                                                    <div class="col-3 list-account v1 my-auto">{{ c.linkedin }}</div>
                                                </div>
                                            </label>
                                        </div>
                                    </form> 
                                </div>
                            </div>

                            <div class="row mt-3" *ngIf="activeP">                                
                                <div class="col-lg-2 col-6">
                                    <a class="btn btn-maestro orange w-100" routerLinkActive='active' routerLink='/admin/playbook'>
                                        <img src="./assets/icons/play.svg" alt="new-icon">
                                        New Play
                                    </a>
                                </div>           
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-3 list-account">type of play</div>
                                        <div class="col-2 text-uppercase list-account">status</div>
                                        <div class="col-2 text-uppercase list-account text-center">%</div>
                                        <div class="col-2 list-account">start</div>
                                        <div class="col-3 list-account">end</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <form [formGroup]="this.helper.form">
                                        <div class="form-check" *ngFor="let p of plays">
                                            <input class="form-check-input" type="radio" id="list" formControlName="radio"  [value]="p.type">
                                            <label class="form-check-label w-100" for="list">
                                                <div class="row">
                                                    <div class="col-3 list-account v1 my-auto" routerLinkActive='active' routerLink='/admin/playsrunning'>
                                                        <!-- <img src="./assets/icons/user-connect-orange.sgv" alt=""> -->
                                                        {{p.type}}
                                                    </div>
                                                    <div class="col-2 text-uppercase list-account v1 my-auto">
                                                        <div class="{{ p.status }}">
                                                            {{p.status}}
                                                        </div>                                                        
                                                    </div>
                                                    <div class="col-2 text-uppercase list-account v1 my-auto text-center">{{ p.percent }}%</div>
                                                    <div class="col-2 list-account v1 my-auto">{{ p.start }}</div>
                                                    <div class="col-3 list-account v1 my-auto">{{ p.end }}</div>
                                                </div>
                                            </label>
                                        </div>
                                    </form> 
                                </div>
                            </div>

                            <div class="row mt-3" *ngIf="tasks">                                
                                <div class="col-12 bg-escuro">
                                    <div class="row my-3">
                                        <div class="col-7">
                                            <a class="btn btn-task w-100">
                                                Add New Play
                                                <img src="./assets/icons/plus.svg" id="new" alt="new-icon">
                                            </a>
                                        </div>    
                                        <div class="col-5 my-auto">
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" name="" id="account" class="form-control" placeholder="Busca">
                                                </div>                                        
                                            </form>
                                        </div>         
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-4 txt-white text-left">My Tasks</div>
                                                <div class="col-1 txt-white text-center">Status</div>
                                                <div class="col-1 txt-white text-center">Burndown</div>
                                                <div class="col-2 txt-white">DeadLine</div>
                                                <div class="col-2 txt-white">Assigned</div>
                                                <div class="col-2 txt-white">Relevance</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <form [formGroup]="this.helper.form">
                                                <div class="form-check v1 mt-2" *ngFor="let t of mytasks">
                                                    <input class="form-check-input v1" type="radio" id="list" formControlName="radio" [value]="t.name">
                                                    <label class="form-check-label w-100" for="list">
                                                        <div class="row">
                                                            <div class="col-4 text-left">{{ t.name }}</div>
                                                            <div class="col-1 text-center">{{ t.status }}</div>
                                                            <div class="col-1 text-center">{{ t.burndown }}</div>
                                                            <div class="col-2">
                                                                <img src="./assets/icons/notification.svg" alt="notification">
                                                                {{ t.deadline }}
                                                            </div>
                                                            <div class="col-2">
                                                                <img src="./assets/icons/user-orange.svg" alt="assigned">
                                                                {{ t.assigned }}
                                                            </div>
                                                            <div class="col-2">
                                                                <img src="./assets/icons/star-complete.svg" alt="">
                                                                <img src="./assets/icons/star-complete.svg" alt="">
                                                                <img src="./assets/icons/star.svg" alt="">
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </form> 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3" *ngIf="details">                                
                                <div class="col-lg-2 col-6">
                                    <a class="btn btn-maestro orange w-100" routerLinkActive='active' routerLink='/admin/playbook'>
                                        <img src="./assets/icons/pencil-white.svg" alt="edit-icon">
                                        Edit
                                    </a>
                                </div>           
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-4 details">
                                            <div class="titleD"> Segment </div>
                                            <div>Food Services</div>
                                        </div>
                                        <div class="col-4 details">
                                            <div class="titleD"> N° Employees </div>
                                            <div>27</div>
                                        </div>
                                        <div class="col-4 details">
                                            <div class="titleD"> Segment </div>
                                            <div>R$ 1.000,00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-4 details">
                                            <div class="titleD"> Cnpj </div>
                                            <div>000000/0001-00</div>
                                        </div>
                                        <div class="col-4 details">
                                            <div class="titleD"> Phone </div>
                                            <div>(11)0000-0000</div>
                                        </div>
                                        <div class="col-4 details">
                                            <div class="titleD"> Website </div>
                                            <div>www.worc.com.br</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-4 details">
                                            <div class="titleD"> CEO </div>
                                            <div>Alex Apter</div>
                                        </div>
                                        <div class="col-6 details">
                                            <div class="titleD"> Adress </div>
                                            <div>Av. Brigadeiro Faria Lima, 2837
                                                São Paulo - SP</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Actions -->
<div class="modal fade" id="exampleModalConta" tabindex="-1" role="dialog" aria-labelledby="exampleModalConta" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Actions</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h2>Futuramente teremos mais ações.</h2>
            </div>
        </div>
    </div>
</div>