<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-lg-4 mx-auto text-center bold">                    
                    <div class="row">
                        <div class="col-12">
                           <img src="./assets/logos/maestro-icon.svg" alt="">
                            Change Password 
                        </div>
                        <div class="col-12 mt-3">
                            <form [formGroup]="changeForm">
                                <div class="form-group">
                                    <input type="email" class="form-control" formControlName="email" id="" placeholder="Email">
                                </div>     
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="password" id="" placeholder="*Senha*">
                                </div>  
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="passwordConfirm" id="" placeholder="*Confirmar senha*">
                                </div>  
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6 text-center my-auto">
                                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='/auth/login' class="txt-gray">Voltar ao login</a>
                                        </div>                                        
                                        <div class="col-12" href="javascript:void(0)" routerLinkActive='active' routerLink='/admin'>
                                            <button class="btn btn-maestro orange w-50" type="submit">Alterar senha</button> <!--[disabled]="login.invalid"-->
                                        </div>                                        
                                    </div>
                                </div>                                 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
