<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12" (click)="open(0)">
                    <div class="target-lists">
                        Empresa de Tecnologia
                        <img src="./assets/icons/arrow-gray.svg" alt="abrir">
                    </div> 
                    <div class="list">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              all accounts
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              Worc
                            </label>
                        </div>
                    </div>                   
                </div>
                <div class="col-12" (click)="open(1)">
                    <div class="target-lists">
                        25 Startups Forbes
                        <img src="./assets/icons/arrow-gray.svg" alt="abrir">
                    </div>
                    <div class="list">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              all accounts
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              Worc
                            </label>
                        </div>
                    </div>  
                </div>
                <div class="col-12" (click)="open(2)">
                    <div class="target-lists">
                        Spina’s List
                        <img src="./assets/icons/arrow-gray.svg" alt="abrir">
                    </div>
                    <div class="list">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              all accounts
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              Worc
                            </label>
                        </div>
                    </div>  
                </div>
                <div class="col-12" (click)="open(3)">
                    <div class="target-lists">
                        Gustavo’s List
                        <img src="./assets/icons/arrow-gray.svg" alt="abrir">
                    </div>
                    <div class="list">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              all accounts
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              Worc
                            </label>
                        </div>
                    </div>  
                </div>
                <div class="col-12" (click)="open(4)">
                    <div class="target-lists">
                        Nick’s List
                        <img src="./assets/icons/arrow-gray.svg" alt="abrir">
                    </div>
                    <div class="list">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              all accounts
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              Worc
                            </label>
                        </div>
                    </div>  
                </div>
                <div class="col-12" (click)="open(5)">
                    <div class="target-lists">
                        Fintechs BR
                        <img src="./assets/icons/arrow-gray.svg" alt="abrir">
                    </div>
                    <div class="list">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              all accounts
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              Worc
                            </label>
                        </div>
                    </div>  
                </div>
                <div class="col-12" (click)="open(6)">
                    <div class="target-lists">
                        Best performance 2020
                        <img src="./assets/icons/arrow-gray.svg" alt="abrir">
                    </div>
                    <div class="list">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              all accounts
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                              Worc
                            </label>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
