<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 mx-auto">
                    <h1 class="bold">Account List</h1> 
                    <div class="row">
                        <div class="col-12 quickcard v1">
                            <div class="row">
                                <div class="col-lg-2 col-6">
                                    <a class="btn btn-maestro orange w-100" (click)="this.helper.new()">
                                        <img src="./assets/icons/plus-white.svg" alt="new-icon">
                                        New list
                                    </a>
                                </div>
                                <div class="col-lg-2 col-6">
                                    <a class="btn btn-maestro blue w-100"
                                    data-toggle="modal" data-target="#exampleModalList">
                                        <img src="./assets/icons/hand.svg" alt="action-icon">
                                        Actions
                                    </a>
                                </div>
                                <div class="col-lg-6 col-11 mx-auto search-account">
                                    <div class="row">
                                        <div class="col-lg-8 col-8" >
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" name="" id="account" class="form-control" placeholder="Busca">
                                                </div>                                        
                                            </form>
                                        </div>
                                        <div class="col-lg-4 col-4">
                                            <a class="btn btn-maestro gray w-100">
                                                <img src="./assets/icons/download.svg" alt="download-icon">
                                                Export
                                            </a>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                            <div class="row">
                                <div class="col-12 mt-5">
                                    <div class="row">
                                        <div class="col-3 list-account">account name</div>
                                        <div class="col-2 text-uppercase list-account">website</div>
                                        <div class="col-2 text-uppercase list-account">contact to influence</div>
                                        <div class="col-2 list-account">engagement</div>
                                        <div class="col-1 list-account">min. of eng</div>
                                        <div class="col-2 list-account">page views</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <form [formGroup]="this.helper.form">
                                        <div class="form-check" *ngFor="let l of listSpec">
                                            <!-- <input class="form-check-input" type="radio" id="exampleRadios1" formControlName="radio"  [value]="l.name"> -->
                                            <!-- <label class="form-check-label w-100" for="exampleRadios1"> -->
                                                <div class="row">
                                                    <div class="col-3 list-account v1 txt-orange my-auto"
                                                    routerLinkActive='active' routerLink='/admin/account/conta'>{{l.name}}</div>
                                                    <div class="col-2 text-uppercase list-account v1 my-auto">{{l.website}}</div>
                                                    <div class="col-2 list-account v1 my-auto">{{l.influence}}</div>
                                                    <div class="col-2 list-account v1 my-auto">{{ l.engagement }}</div>
                                                    <div class="col-1 list-account v1 my-auto">{{ l.min }}</div>
                                                    <div class="col-2 list-account v1 my-auto">{{ l.page }}</div>
                                                </div>
                                            <!-- </label> -->
                                        </div>
                                    </form>       
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Actions -->
<div class="modal fade" id="exampleModalList" tabindex="-1" role="dialog" aria-labelledby="exampleModalList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Actions</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h2>Futuramente teremos mais ações.</h2>
            </div>
        </div>
    </div>
</div>
