<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 mx-auto">
                    <h1 class="bold">Contacts</h1>
                    <div class="row">
                        <div class="col-12 quickcard v1">
                            <div class="row">
                                <div class="col-lg-3 col-6">
                                    <a class="btn btn-maestro orange w-100" routerLinkActive='active'
                                        routerLink='/admin/account/contact-add'>
                                        <img src="./assets/icons/plus-white-a.svg" alt="new-icon">
                                        Add contact
                                    </a>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <a class="btn btn-maestro blue w-100"
                                    data-toggle="modal" data-target="#exampleModalContact">
                                        <img src="./assets/icons/hand.svg" alt="action-icon">
                                        Actions
                                    </a>
                                </div>
                                <div class="col-lg-6 col-11 mx-auto search-account">
                                    <div class="row">
                                        <div class="col-lg-8 col-8 mt-2">
                                            <form>
                                                <div class="form-group">
                                                    <input placeholder="Busca"  #c (input)="search(c.value)" class="form-control"> 
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-4 col-4">
                                            <a class="btn btn-maestro gray w-100">
                                                <img src="./assets/icons/download-a.svg" alt="download-icon">
                                                Export
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-5">
                                    <div class="row">
                                        <div class="col-2 list-account">name</div>
                                        <div class="col-2 text-uppercase list-account">description</div>
                                        <div class="col-2 text-uppercase list-account">email</div>
                                        <div class="col-3 list-account">website</div>
                                        <div class="col-2 list-account">role</div>
                                        <div class="col-1 list-account">actions</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <form [formGroup]="this.helper.form">
                                        <div class="form-check" *ngFor="let p of contacts">

                                            <div class="row">
                                                <div class="col-2 list-account v1 my-auto">{{ p.name }}</div>
                                                <div class="col-2 text-uppercase list-account v1 my-auto">{{
                                                    p.description }}</div>
                                                <div class="col-2 text-uppercase list-account v1 my-auto list-email">{{ p.email }}
                                                </div>
                                                <div class="col-3 list-account v1 my-auto">{{ p.website }}</div>
                                                <div class="col-2 list-account v1 my-auto">{{ p.role }}</div>
                                                <div class="col-1 list-account v1 my-auto" data-toggle="modal"
                                                    data-target="#modalDetailContactItem">
                                                    <button class="btn btn-maestro orange detail-button" (click)="detailContactItem(p)">
                                                        detail
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Contact -->
<div class="modal fade" id="modalDetailContactItem" tabindex="-1" role="dialog" aria-labelledby="modalDetailContactItem"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetailContactItem">Contact Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="contactDetailForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name">
                            </div>   

                            <div class="col-lg-4">
                                <label for="role">Role</label>
                                <input type="text" class="form-control" formControlName="role" id="role" placeholder="Role">
                            </div>  

                            <div class="col-lg-4">
                                <label for="geolocation">Geolocation</label>
                                <input type="text" class="form-control" formControlName="geolocation" id="geolocation" placeholder="Geolocation">
                            </div>  
                       
                            <div class="col-lg-6 mt-3">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email">
                            </div>  

                            <div class="col-lg-6 mt-3">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="Phone">
                            </div>   

                            <div class="col-lg-6 mt-3">
                                <label for="linkedin">Linkedin</label>
                                <input type="text" class="form-control" formControlName="linkedin" id="linkedin" placeholder="Linkedin">
                            </div>  
                       
                            <div class="col-lg-6 mt-3">
                                <label for="website">Website</label>
                                <input type="text" class="form-control" formControlName="website" id="website" placeholder="Website">
                            </div>                                                                               

                            <div class="col-lg-12 mt-3">
                                <label for="description">Description</label>
                                <!-- <input type="text" class="form-control" formControlName="description" id="description" placeholder="Description"> -->
                                <textarea class="form-control" formControlName="description" id="description" placeholder="Description" cols="30" rows="3"></textarea>
                            </div> 

                            <!-- <div class="col-lg-6 mt-3 accordion" id="accordion">
                                <div class="accordion-item">
                                  <p class="txt-gray accordion-header" id="headingOne">
                                    <label class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Accounts
                                    </label>
                                  </p>
                                  <div *ngFor="let account of contact.accounts" id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body" >
                                    {{account.account_name}}
                                    </div>
                                  </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-lg-6 mt-3 accordion" id="accordion">
                                <div class="accordion-item">
                                  <p class="txt-gray accordion-header" id="headingOne">
                                    <label class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Plays
                                    </label>
                                  </p>
                                  <div *ngFor="let play of contact.plays" id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body" >
                                    {{play.play_name}}
                                    </div>
                                  </div>
                                </div>
                            </div> -->

            

                      
                        </div>
                    </div> 

                    <div class="row">                        
                        <div class="col-6 mt-2" href="javascript:void(0)" routerLinkActive='active' routerLink='/admin/account/contacts'>
                            <button class="btn btn-maestro orange w-100" data-dismiss="modal" (click)="updateContact()">Update</button>
                        </div>
                        <div class="col-6 mt-2" href="javascript:void(0)" routerLinkActive='active' routerLink='/admin/account/contacts'>
                            <button class="btn btn-maestro red w-100" data-dismiss="modal" (click)="deleteContact()">Exclude</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Actions -->
<div class="modal fade" id="exampleModalContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalContact" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Actions</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h2>Futuramente teremos mais ações.</h2>
            </div>
        </div>
    </div>
</div>