@import 'helpers';
@import 'variables';
@import 'components';

.card-create { 
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: $color-4;
    border-left: 2px solid $color-7;
    .txt-create {
        font-size: 15px;
    }
    .txt-create:hover{
        color: #f05b36;
    }
}