<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-9 col-11 mx-auto mt-3">
                    <div class="quickcard">
                        <div class="col-11 mx-auto">
                            <h4>What kind of play do you want to create?</h4>
                            <!-- <div class="card-create mt-2"  (click)="goToCreate()"> 
                                Pré-Play 
                            </div> -->

                            <div class="card-create mt-3" (click)="openCreate('p')"> 
                                Pre-Play 
                                <div *ngIf="createpreplay">
                                    <div class="txt-create" (click)="goToCreate()" *ngFor="let p of preplay">{{ p.title }}</div>
                                </div>
                            </div> 

                            <div class="card-create mt-3" (click)="openCreate('m')"> 
                                Marketing 
                                <div *ngIf="createmkt">
                                    <div class="txt-create" (click)="goToCreate()" *ngFor="let m of marketing">{{ m.title }}</div>
                                </div>
                            </div>            
                            <div class="card-create mt-3" (click)="openCreate('s')"> 
                                Sales
                                <div *ngIf="createsales">
                                    <div class="txt-create" (click)="goToCreate()" *ngFor="let s of sales">{{ s.title }}</div>
                                </div>                    
                            </div> 
                            <div class="card-create mt-3" (click)="openCreate('c')"> 
                                CS 
                                <div *ngIf="createcs">
                                    <div class="txt-create" (click)="goToCreate()" *ngFor="let c of cs">{{ c.title }}</div>
                                </div>                    
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>