<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center bold">                    
                    <div class="row">
                        <div class="col-12">
                           <img src="./assets/logos/maestro-icon.svg" alt="">
                            New List 
                        </div>
                        <div class="col-12 mt-5">
                            <form [formGroup]="listsAddForm">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" formControlName="name" id="" placeholder="Name">
                                        </div>                 
                                                                   
                                        <div class="col-lg-4">                                               
                                            <select name="type" id="type"formControlName="type" class="form-control">
                                                <option value=".txt" [selected]="true">TXT</option>
                                                <option value=".csv">CSV</option>
                                                <option value=".xlsx">XLSX</option>
                                            </select>                                           
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-control">  
                                                <label><input type="checkbox" formControlName="favorite" id="favorite" name="favorite">  Favorite</label>                                               
                                            </div>
                                        </div>

                                    </div>
                                </div> 
                                
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6 text-center my-auto mt-3">
                                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='/admin/account/account-list' class="txt-gray">Cancel</a>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn btn-maestro orange w-100" (click)="addAccountList()">Save</button> 
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
