@import 'helpers';
@import 'variables';
@import 'components';

/*Modal*/
.touch {
    @include media-breakpoint-up(lg) {
        width: 300px;
        left: 300px;
        margin-left: 200px;
    }
    .card-touch {
        padding: 5px;
        cursor: pointer;
        background-color: $color-4;
    }
    button { outline: none; }
    .close {
        font-size: 50px;
        float: none !important;
        font-weight: 100;
        margin: -10px 0 0 -10px;
    }
}

/*Modal Details*/
.DetailsModal {
    .modal-content {
        @include media-breakpoint-up(lg) {
            width: 800px !important;
            position: absolute;
            left: -110px;
        }
    }
    .details {
        color: $color-1;
        background-color: $color-6;
        font-family: 'OpenSans-Bold';
    }
    .card-date {
        color: $color-12;
        padding: 5px;
        border-radius: 10px;
        font-family: 'OpenSans-Bold';
        background-color: rgb(248, 76, 76,0.5);
    }
    .on-off {
        position: absolute;
        top: 20px;
        right: 0px;
    }
    .cardGray {
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        background-color: $color-4;
        &.cardT {
            color: $color-12;
            border-radius: 20px;
            text-transform: uppercase;
            border: 2px solid $color-12;
        }
    }
    .complete {
        color: $color-1;
        padding: 10px;
        border-radius: 10px;
        background-color: $color-9;
        font-family: 'OpenSans-SemiBold';
    }
}


.closed{
    
        padding: 5px 0;
        color: red;
        text-align: center;
        border-radius: 20px;
        text-transform: uppercase;
        font-family: "OpenSans-SemiBold";
        background-color: rgb(255 57 84 / 30%);
 
}
#ValueTouch{
    display: none;
}
#Touch{
    margin-left: 10px;
    margin-top: 10px;
}

// Modal Touchpoint Create - Action Create

.modal-title {
    font-size: 30px;
    @include media-breakpoint-up(lg) {
        padding: 0 155px 0 0;
    }
}

.card-create { 
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: $color-4;
    border-left: 2px solid $color-7;
    .txt-create {
        font-size: 15px;
    }
    .txt-create:hover{
        color: #f05b36;
    }
}
.modal-backdrop{
    display: none;
}
.Option{
    display: flex;
    flex-direction: column;
}

.title-form {
    text-align: left;
    font-size: 16px;
}

.form-group { 
    padding: 2px 5px;
    text-align: left !important;
    border-radius: 10px;
    background-color: $color-17;
    input, select { 
        color: $color-5;
        border: none;
        background-color: $color-17;
    }
    label { 
        font-size: 10px;
        color: $color-16;
        text-transform: uppercase;
    }
}