<div class="modal fade touch" id="exampleTouch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-12 mx-auto">
                    <h4>Create a new Touchpoint</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-12 mt-4">
                    <form [formGroup]="form_touchpoint">
                        <div class="title-form">How would you like name your touchpoint?</div>
                        <div class="form-group">
                            <label for="name">Touchpoint Name</label>
                            <input formControlName="name" type="text" class="form-control" id="name"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="title-form">When will it start and end?</div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="start_date" class="col-2 col-form-label">Expected start</label>
                                    <div class="col-10">
                                        <input formControlName="start_date" class="form-control" type="date"
                                            id="start_date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="expected_end_date" class="col-2 col-form-label">Expected end</label>
                                    <div class="col-10">
                                        <input formControlName="end_date" class="form-control" type="date"
                                            id="end_date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="title-form">Add your touchpoint strategy</div>
                        <div class="form-group">
                            <label for="target">Description</label>
                            <input formControlName="description" type="text" class="form-control" id="description"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="triggers">Triggers</label>
                            <input formControlName="triggers" type="text" class="form-control" id="triggers"
                                aria-describedby="emailHelp" placeholder="ie. Envy, Fear, Antecipation...">
                        </div>
                        <div class="form-group">
                            <label for="icebreaker">Add some catch phrases as icebreaker</label>
                            <input formControlName="icebreaker" type="text" class="form-control" id="icebreaker"
                                aria-describedby="emailHelp" placeholder="ie.  Hey, how are you?">
                        </div>
                        <div class="form-group">
                            <label for="communication">Communication</label>
                            <input formControlName="communication" type="text" class="form-control" id="communication"
                                aria-describedby="emailHelp" placeholder="ie. Mail, Youtube, Chat, Event, F2F...">
                        </div>
                        <div class="card-touch" (click)="toggleArrow(0)">
                            <div class="small-text txt-gray text-uppercase">For who?</div>
                            <div class="row">
                                <div class="col-2"><img src="./assets/icons/down.svg" class="w-100" alt=""></div>
                            </div>
                            <div class="toggle">
                                TESTE
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-12 create-btn p-0">
                                <a class="btn btn-maestro orange w-100" data-toggle="modal" data-target="#actionModal">
                                    Engagement
                                </a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-8">
                        <a href="http://" class="btn btn-maestro orange text-uppercase w-100"> create touch</a>
                    </div>
                    <div class="col-2">
                        <button type="button" class="close w-100" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-2">
                        <img src="./assets/icons/3dots.svg" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Touchpoint Create - Action Create -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="actionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Select an engagement action</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-create mt-3" (click)="openAction('w')">
                    Wink
                    <div class="Option" *ngIf="openwink">
                        <a (click)="getAction($event.target.name)" [name]="w.name" class="txt-create"
                            data-toggle="modal" data-target="#exampleTouch" *ngFor="let w of touchpointActions.wink">
                            {{ w.name }}
                        </a><br>
                    </div>
                </div>
                <div class="card-create mt-3" (click)="openAction('p')">
                    Poke
                    <div class="Option" *ngIf="openpoke">
                        <a (click)="getAction($event.target.name)" [name]="p.name" class="txt-create"
                            data-toggle="modal" data-target="#exampleTouch" *ngFor="let p of touchpointActions.poke">
                            {{ p.name}}
                        </a><br>
                    </div>
                </div>
                <div class="card-create mt-3" (click)="openAction('s')">
                    Stalk
                    <div class="Option" *ngIf="openstalk">
                        <a (click)="getAction($event.target.name)" [name]="s.name" class="txt-create"
                            data-toggle="modal" data-target="#exampleTouch" *ngFor="let s of touchpointActions.stalk">
                            {{ s.name }}
                        </a><br>
                    </div>
                </div>
                <div class="card-create mt-3" (click)="openAction('f')">
                    Flirt
                    <div class="Option" *ngIf="openflirt">
                        <a (click)="getAction($event.target.name)" [name]="f.name" class="txt-create"
                            data-toggle="modal" data-target="#exampleTouch" *ngFor="let f of touchpointActions.flirt">
                            {{ f.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>