<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 mx-auto">
                    <h1 class="bold">Accounts</h1>
                    <div class="row">
                        <div class="col-12 quickcard v1">
                            <div class="row">
                                <div class="col-lg-3 col-6">
                                    <a class="btn btn-maestro orange w-100" routerLinkActive='active'
                                        routerLink='/admin/account/account-add'>
                                        <img src="./assets/icons/plus-white-a.svg" alt="new-icon">
                                        Add account
                                    </a>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <a class="btn btn-maestro blue w-100"
                                    data-toggle="modal" data-target="#exampleModalAction">
                                        <img src="./assets/icons/hand.svg" alt="action-icon">
                                        Actions
                                    </a>
                                </div>
                                <div class="col-lg-6 col-11 mx-auto search-account">
                                    <div class="row">
                                        <div class="col-lg-8 col-8 mt-2">
                                            <form>
                                                <div class="form-group">
                                                    <input  placeholder="Busca" #a (input)="search(a.value)" class="form-control"> 
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-4 col-4">
                                            <a class="btn btn-maestro gray w-100">
                                                <img src="./assets/icons/download-a.svg" alt="download-icon">
                                                Export
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-5">
                                    <div class="row">
                                        <div class="col-1 text-uppercase text-center list-account">name</div>
                                        <div class="col-3 text-uppercase text-center list-account">description</div>
                                        <div class="col-2 text-uppercase text-center list-account">industry</div>
                                        <div class="col-2 text-uppercase text-center list-account">contacts</div>
                                        <div class="col-2 text-uppercase text-center list-account">website</div>
                                        <div class="col-1 text-uppercase text-center list-account">page_views</div>
                                        <div class="col-1 text-uppercase text-center list-account">actions</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <form [formGroup]="this.helper.form">
                                        <div class="form-check" *ngFor="let p of accounts">
                                            <div class="row">
                                                <div class="col-1 list-account v1 txt-orange my-auto link" routerLinkActive='active' routerLink='/admin/account/conta'>
                                                    <!-- routerLinkActive='active' routerLink='/admin/account/conta' -->
                                                    {{ p.name }}
                                                </div>
                                                <div class="col-3 text-uppercase text-center list-account v1 my-auto">{{
                                                    p.description }}</div>
                                                <div class="col-2 text-uppercase text-center list-account v1 my-auto list-email">
                                                {{(p.industry) ? (p.industry) : "Select Industry" }}</div>

                                                <div class="col-2 text-uppercase text-left list-account v1 my-auto list-email">
                                                    <select class="text-uppercase list-account v1 my-auto list-email" name="accountContact" id="accountContact">
                                                      <option *ngFor="let c of p.contacts" value={{c.contact_id}} >
                                                            {{(c.contact_name) ? c.contact_name : "Select Contact" }}

                                                        </option>
                                                    </select>
                                                </div>
                                                
                                                <div class="col-2 list-account text-center v1 my-auto">{{ p.website }}</div>
                                                <div class="col-1 list-account text-center v1 my-auto">{{ p.page_views }}</div>
                                                <div class="col-1 list-account text-center v1 my-auto" data-toggle="modal"
                                                    data-target="#modalDetailAccount">
                                                    <button class="btn btn-maestro orange detail-button" (click)="detailAccount(p)">
                                                        detail
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Account -->
<div class="modal fade" id="modalDetailAccount" tabindex="-1" role="dialog" aria-labelledby="modalDetailAccount"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetailAccount">Account Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="accountDetailForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="name">Company Name</label>
                                <input type="text" class="form-control w-100" formControlName="name" id="name" placeholder="Name">
                            </div>    

                            <div class="col-lg-6">
                                <label for="industry">Industry</label>
                                <select name="industry" id="industry" formControlName="industry" class="form-control">
                                    <option value="" [selected]="true" disabled>Select Industry</option>
                                    <option value="financial"> Financial </option>
                                    <option value="real-state"> Real State </option>
                                    <option value="technology"> Technology </option>
                                </select>
                            </div> 

                            <div class="col-lg-6 mt-3">
                                <label for="geolocation">Geolocation</label>
                                <input type="text" class="form-control" formControlName="geolocation" id="geolocation" placeholder="Geolocation">
                            </div>  

                            <div class="col-lg-6 mt-3">
                                <label for="contact">Add contact</label>
                                <select name="contact" id="contact" formControlName="contact" class="form-control" (click)="contactsNotInAccount()">
                                    <option value="" [selected]="true" disabled>Select Contact</option>
                                    <option *ngFor="let contact of contacts_not_in_account" value= {{contact._id}}>
                                        {{contact.name}}
                                    </option>
                                </select>
                            </div>  

                            <div class="col-lg-4 mt-3">
                                <label for="n_of_employees">N of employees</label>
                                <input type="number" class="form-control" formControlName="n_of_employees" id="n_of_employees" placeholder="N of employees">
                            </div>  

                            <div class="col-lg-8 mt-3">
                                <label for="website">Website</label>
                                <input type="text" class="form-control" formControlName="website" id="website" placeholder="Website">
                            </div>  
                       
                            <div class="col-lg-4 mt-3">
                                <label for="contact">Revenue</label>
                                <input type="number" class="form-control" formControlName="revenue" id="revenue" placeholder="Revenue">
                            </div>  

                            <div class="col-lg-4 mt-3">
                                <label for="engagement">Engagement</label>
                                <input type="number" class="form-control" formControlName="engagement" id="engagement" placeholder="Engagement">
                            </div>  

                            <div class="col-lg-4 mt-3">
                                <label for="page_views">Page views</label>
                                <input type="number" class="form-control" formControlName="page_views" id="page_views" placeholder="Page views">
                            </div>    

                            <div class="col-lg-12 mt-3">
                                <label for="description">Description</label>
                                <!-- <input type="text" class="form-control w-100" formControlName="description" id="" placeholder="Description"> -->
                                <textarea class="form-control" formControlName="description" id="description" placeholder="Description" cols="30" rows="3"></textarea>
                            </div> 
                         
                        </div>
                    </div>

                    <div class="row">                        
                        <div class="col-6 mt-2" href="javascript:void(0)" routerLinkActive='active' routerLink='/admin/account/accounts'>
                            <button class="btn btn-maestro orange w-100" data-dismiss="modal" (click)="updateAccount()">Update</button>
                        </div>
                        <div class="col-6 mt-2" href="javascript:void(0)" routerLinkActive='active' routerLink='/admin/account/accounts'>
                            <button class="btn btn-maestro red w-100" data-dismiss="modal" (click)="deleteAccount()">Exclude</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Actions -->
<div class="modal fade" id="exampleModalAction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Actions</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h2>Futuramente teremos mais ações.</h2>
            </div>
        </div>
    </div>
</div>