@import 'helpers';

.bg-claro { background-color: $color-10; }
.bg-escuro { background-color: $color-6; }
.bg-white { background-color: $color-1;}
.bg-orange { background-color: $color-7;}

.txt-orange { color: $color-7; }
.txt-gray { color: $color-11; }
.txt-green { color: $color-9 }
.txt-red { color: $color-12 }
.txt-white { color: $color-1 }
.txt-blue { color: $color-6;}

.small-text { font-size: 12px; }

.bold { font-family: 'OpenSans-Bold'; }
.semibold { font-family: 'OpenSans-SemiBold'; }
textarea:focus, input:focus, select:focus {
    outline: 0;
    -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-maestro {
    border: 1px solid $color-7;
    padding: 10px;
    border-radius: 10px;
    color: $color-7;
    background-color: transparent;
    font-family: 'OpenSans-SemiBold';
    cursor: pointer;
    &.orange {
        color: $color-1;
        background-color: $color-7;
    }
    &.blue {
        color: $color-1;
        background-color: $color-6;
        border: 1px solid $color-6;
        &:hover { color: $color-1;}
    }
    &.gray {
        color: $color-13;
        background-color: $color-2;
        border: 1px solid $color-2;
    }
    &.green {
        color: $color-1;
        background-color: $color-14;
        border: 1px solid $color-14;
    }
    &.red {
        color: $color-1;
        background-color: $color-18;
    }
}
.quickcard {
    border-radius: 10px;
    padding: 20px 0;
    text-align: center;
    background-color: $color-1;
    font-family: 'OpenSans-SemiBold';
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.39);
    &.v1 {
        padding: 20px;
        box-shadow: none;
    }
    &.v2 { padding: 20px; }
    &.v3 {
        @include media-breakpoint-up(lg) { 
            height: 79vh;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar { width: 3px; }
            &::-webkit-scrollbar-thumb { background-color: $color-7; }
        }
    }

}

.modal-header { border: none;}

.takeaction {
    position: absolute;
    right: 0;
    background-color: $color-1;
    z-index: 999;
    font-family: 'OpenSans-SemiBold';
    a { cursor: pointer;}
    @include media-breakpoint-up(lg) { height: 100vh; }
    &.v1 {  top: 0; }
  }

.target-lists {
    padding: 15px 10px;
    text-align: left;
    cursor: pointer;
    img {
        width: 20px;
        position: absolute;
        right: 30px;
    }
}
.list { 
    display: none;
    text-align: left;
}



label {
    margin: 0;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
}

.link { cursor: pointer;}

.minimo { min-height: 100vh; }
.padding {
    @include media-breakpoint-down(md) { padding: 0 10px; }
}