@import 'helpers';
@import 'variables';
@import 'components';

.logo-menu {
    width: 100%;
    @include media-breakpoint-up(lg) { width: 150px; }
}
.padding-menu { 
    padding-top: 25px;
    @include media-breakpoint-down(md) { padding: 15px; }
}
.aba-menu {
    position: absolute;
    right: 0;    
    float: right;
    @include media-breakpoint-down(md) { 
        position: relative;
        height: 100vh;
        background-color: $color-6;
    }
    @media only screen and (min-width: 768px)  and (max-width: 991px) {
        height: 10vh !important;
    }
    @media only screen and (min-width: 768px) { 
        background-color: transparent; 
    }  

    nav ul { padding: 12px 0 0; }
    li {
        cursor: pointer;
        list-style: none;
        display: inline;
        color: $color-1;
        padding: 15px 30px;
        font-family: 'OpenSans-SemiBold';

        &:hover { color: $color-7; }

        @include media-breakpoint-down(md) { 
            display: list-item;
            padding: 15px 80px 15px 30px;
        }
        @media only screen and (min-width: 768px) { 
            display: inline;
            padding: 15px 30px;
        }
        @media only screen and (min-width: 450px)  and (max-width: 767px) { padding: 15px 300px 15px 30px; }
        @media only screen and (min-width: 992px)  and (max-width: 1144px) { padding: 15px 20px; }
    }     
}
.icone-menu-mobile {
    position: absolute;
    right: 0;
    top: 12px;
}