<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-escuro">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5 padding-menu">
                    <img src="./assets/logos/maestro.png" class="logo-menu" alt="logo-maestro">
                </div>
                <div class="col-sm-1 col-2 icone-menu-mobile" *ngIf="this.helper.isMobile" (click)="abrirMenu()">
                    <img src="./assets/icons/hamburguer.svg" class="w-100" alt="icone-menu">
                </div>
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 col-12 aba-menu padding-menu" *ngIf="menu">
                    <div class="row">
                        <nav>
                            <ul>
                                <li (click)="this.helper.smooth('abm')" (click)="abrirMenu()">O que é ABM?</li>
                                <li class="text-uppercase" (click)="this.helper.smooth('features')" (click)="abrirMenu()">Features</li>
                                <li>Blog</li>
                            </ul>
                        </nav>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 my-auto">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-1 col-2 mx-auto p-0">
                                    <a href="https://www.instagram.com/maestroabm/" target="blanc">
                                        <img src="./assets/logos/instagram.svg" class="w-100" alt="">
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-1 col-2 mx-auto p-0">
                                    <a href="https://www.instagram.com/maestroabm/" target="blanc">
                                        <img src="./assets/logos/linkedin.svg" class="w-100" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
