<div class="container-fluid">
    <div class="row">
        <div class="col-12 minimo">
            <div class="row">
                <div class="col-11 mx-auto mt-5">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <h1>Integrations</h1>
                            <p class="txt-orange semibold">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum quibusdam animi fugit eum est nemo!</p>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="row">
                                <div class="col-lg-2 mx-auto quickcard" *ngFor="let i of integrations">
                                    <div class="row">
                                        <div class="col-10 mx-auto">
                                            <img [src]="i.company" class="w-100" alt="">
                                        </div>
                                        <div class="col-11 mx-auto">
                                            <p class="my-3">{{ i.description }}</p>
                                            <a class="btn btn-maestro orange w-100" (click)="openIntegration()">Integrate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-12 takeaction v1" *ngIf="this.integration">
                    <div class="row">
                        <div class="col-12 mx-auto bg-escuro txt-white">
                            <div class="row my-3">
                                <div class="col-2">
                                    <a (click)="openIntegration()">
                                        <img src="./assets/icons/arrow-back.svg" class="arrow-back w-100" alt="voltar" >
                                    </a>
                                </div>
                                <div class="col-10 my-auto">
                                    <img src="./assets/icons/hand-orange.svg" alt="action-icon">
                                    Integrations
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-6 bg-orange">                            
                            <form [formGroup]="integrationID">
                                <div class="form-group mt-5">
                                    <label>Google Analytics</label>
                                    <input type="text" class="form-control mt-2" formControlName="id" id="" placeholder="Insira seu UA">
                                </div>                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
