<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-2 col-10 nav-account">
                    <div class="row">
                        <div class="col-lg-12 col-3 mx-auto btn-account" (click)="openList('account-list')"
                            routerLinkActive='active' routerLink='account-list'>
                            <img src="./assets/icons/buildings.svg" id="account-list" alt="account-list">
                            Account Lists
                        </div>
                        <div class="col-lg-12 col-3 mx-auto btn-account v1" (click)="openList('accounts')"
                            routerLinkActive='active' routerLink='accounts'>
                            <img src="./assets/icons/blue-building-a.svg" id="accounts" alt="accounts">
                            <span>Accounts</span>
                        </div>
                        <div class="col-lg-12 col-3 mx-auto btn-account" (click)="openList('contact-list')"
                            routerLinkActive='active' routerLink='contact-list'>
                            <img src="./assets/icons/group.svg" id="contact-list" alt="contact-list">
                            Contact Lists
                        </div>
                        <div class="col-lg-12 col-3 mx-auto btn-account v1" (click)="openList('contacts')"
                            routerLinkActive='active' routerLink='contacts'>
                            <img src="./assets/icons/user-blue.svg" id="contacts" alt="contacts">
                            <span>Contact</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-12 takeaction" *ngIf="this.helper.action">
                    <div class="row">
                        <div class="col-12 mx-auto bg-escuro txt-white">
                            <div class="row my-3">
                                <div class="col-2 my-auto">
                                    <a (click)="this.helper.openAction()">
                                        <img src="./assets/icons/arrow-left.svg" class="arrow-back w-100" alt="voltar" >
                                    </a>
                                </div>
                                <div class="col-10 my-auto">
                                    <img src="./assets/icons/hand-orange.svg" alt="action-icon">
                                    Take an action
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-6 item-action" routerLinkActive='active' routerLink='/admin/playbook'>                            
                            <div class="row">
                                <div class="col-lg-2 col-3">
                                    <img src="./assets/icons/play-orange.svg" class="w-100" alt="new-icon">
                                </div>
                                <div class="col-lg-10 col-9">New Play</div>
                            </div>
                            <div class="row">
                                <div class="col-12" *ngIf="this.helper.actionList">
                                    <div class="row">                                        
                                        <div class="col-12 new-item">
                                            <div class="row">
                                                <div class="col-lg-2 col-3">
                                                    <img src="./assets/icons/add.svg" class="w-100" alt="add-icon">
                                                </div>
                                                <div class="col-10 my-auto">
                                                    Add Accouts to an existing List
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="col-12 new-item">
                                            <div class="row">
                                                <div class="col-lg-2 col-3">
                                                    <img src="./assets/icons/remove.svg" class="w-100" alt="remove-icon">
                                                </div>
                                                <div class="col-10 my-auto">
                                                    Remove Accounts from List
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-6 item-action">                            
                            <div class="row">
                                <div class="col-lg-2 col-3">
                                    <img src="./assets/icons/clipboard.svg" class="w-100" alt="new-icon">
                                </div>
                                <div class="col-lg-10 col-9">Create Task</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-6 item-action">                            
                            <div class="row">
                                <div class="col-lg-2 col-3">
                                    <img src="./assets/icons/edit.svg" class="w-100" alt="new-icon">
                                </div>
                                <div class="col-lg-10 col-9">Edit Data</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-6 item-action">                            
                            <div class="row">
                                <div class="col-lg-2 col-3">
                                    <img src="./assets/icons/delete.svg" class="w-100" alt="new-icon">
                                </div>
                                <div class="col-lg-10 col-9">Delete this list</div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-10 minimo">
                    <router-outlet></router-outlet>
                </div>     
            </div>
        </div>
    </div>
</div>  
