@import 'helpers';
@import 'variables';
@import 'components';

.nav-account {
    @include media-breakpoint-down(md) {
        padding: 10px;
    }
    @include media-breakpoint-up(lg) {
        height: 95vh;
        background-color: $color-1;
        padding-top: 250px;
    }
}
.btn-account {
    padding: 20px;
    cursor: pointer;
    outline: none;
    font-family: 'OpenSans-SemiBold';
    @include media-breakpoint-down(md) {
        padding: 10px 0;
        text-align: center;
    }
    &:hover, &.active {
        background-color: $color-10;        
        outline: 0;
        @include media-breakpoint-up(lg) {
            border-right: 3px solid $color-7;
        }
        @include media-breakpoint-down(md) {
            border-radius: 10px;
            border: 2px solid $color-7;
        } 
    }
    &.v1 { 
        @include media-breakpoint-up(lg) { 
            padding: 20px 30px;
            span { padding-left: 16px;}
        }
    }
}
// .takeaction {
//   position: absolute;
//   right: 0;
//   background-color: $color-1;
//   z-index: 999;
//   font-family: 'OpenSans-SemiBold';
//   a { cursor: pointer;}
//   @include media-breakpoint-up(lg) {
//     height: 100vh;
//   }
// }
.item-action {
    cursor: pointer;
    padding: 10px 30px;
    .new-item { 
        padding: 15px 10px;
        font-size: 14px;
    }
}

.search-account {
    @include media-breakpoint-up(lg) {
        position: absolute;
        right: 0px;
    }
}
.list-account {
    font-size: 12px;
    text-align: left;
    padding: 10px 0;
    text-transform: uppercase;
    background-color: $color-10;
    &.v1 { background-color: $color-1;}
}
.list-email {
    white-space: nowrap;
    overflow: hidden;  
    text-overflow:ellipsis;
    padding: 10px 10px 10px 0px;
}

.form-check-input {
  position: absolute;
  top: 12px;
  left: 10px;
}

.form-control:focus {
    border-color: $color-2;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }