@import 'variables';
@import 'helpers';
@import 'components';

.bg-escuro { 
    padding: 20px 0 12px;
    @include media-breakpoint-down(md) { padding: 10px 0 12px; }
}
.icon-nav {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 1;
    @media only screen and (min-width: 768px)  and (max-width: 991px){ display: block;}
    @include media-breakpoint-down(md) { display: block;}
    // @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) { display: none; } 
}
.modal-backdrop{
    display: none!important;
}