<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="bg-escuro" mode="side" opened [ngClass]="{'mobile': helper.isMobile}">
        <app-nav></app-nav>
    </mat-drawer>
    <mat-drawer-content>
        <a href="javascript:void(0)" (click)="drawer.toggle()" *ngIf="helper.isMobile">
            <img src="./assets/icons/hamburguer.svg" alt="">
        </a>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-1 col-12 bg-escuro" [ngClass]="{'mobile': helper.isMobile}" *ngIf="nav">
                    <app-nav></app-nav>
                </div>
                <div class="col-lg-11 col-12 bg-claro p-0">
                    <a href="javascript:void(0)" class="icon-nav" (click)="opentoggle()">
                        <img src="./assets/icons/hamburguer.svg" alt="">
                    </a>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>