@import 'helpers';
@import 'variables';
@import 'components';
#Text{
    border:  none;
    background: none;
}
.container-fluid{
    z-index: 1040;
    position: absolute;
}
.modal-backdrop{
    display: none;
}
.arrow-account { position: absolute;right: 0;}
.form-check {
    text-align: left;
    padding-left: 130px;
}
.form-check-input {
    border-radius: 50px;
}