<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12" *ngFor="let account of accountList">
                    <!-- <div class="col-12" *ngFor="let account of Accounts; index as i" (click)="getAccount(i)"> -->
                    <div class="target-lists">
                        {{account.name}}
                        <!-- <img src="./assets/icons/arrow-gray.svg" class="arrow-account mt-2" alt="abrir"> -->
                    </div>
                    <div *ngFor="let c of account.accounts">
                        <div class="form-check">
                            <input (input)="getSearch($event.target.value)"
                                (click)="getName($event.target.name)" [name]="c.account_name" class="form-check-input"
                                type="checkbox" id="exampleRadios1" [value]="c.account_id">
                            <label id="Text" (input)="getSearch($event.target.value)" type="text"
                                class="form-check-label">
                                {{c.account_name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>