<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center bold">                    
                    <div class="row">
                        <div class="col-12">
                           <img src="./assets/logos/maestro-icon.svg" alt="">
                            New Account 
                        </div>
                        <div class="col-12 mt-5">
                            <form [formGroup]="accountAddForm">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" formControlName="name" id="" placeholder="Name">
                                        </div>    
                                        
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" formControlName="description" id="" placeholder="Description">
                                            <br>
                                        </div>  

                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" formControlName="geolocation" id="" placeholder="Geolocation">
                                            
                                        </div>  
                                        <div class="col-lg-6">
                                            <select name="industry" id="industry" formControlName="industry" class="form-control">
                                                <option value="null" [selected]="true"> Select Industry </option>
                                                <option value="financial"> Financial </option>
                                                <option value="real-state"> Real State </option>
                                                <option value="technology"> Technology </option>
                                            </select>
                                            <br>
                                        </div> 
                                        
                                        <div class="col-lg-6">
                                            <input type="number" class="form-control" formControlName="n_of_employees" id="" placeholder="N of employees">
                                        </div>  

                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" formControlName="website" id="" placeholder="Website">
                                            <br>
                                        </div>  
                                   
                                        <div class="col-lg-6">
                                            <input type="number" class="form-control" formControlName="revenue" id="" placeholder="Revenue">
                                        </div>  

                                        <div class="col-lg-6">
                                            <input type="number" class="form-control" formControlName="engagement" id="" placeholder="Engagement">
                                            <br>
                                        </div>  

                                        <div class="col-lg-6">
                                            <input type="number" class="form-control" formControlName="page_views" id="" placeholder="Page views">
                                        </div>                                                                     
                                     
                                    </div>
                                </div> 
                                
                                <div class="row">
                                    <div class="col-6 text-center my-auto mt-3">
                                        <a href="javascript:void(0)" routerLinkActive='active' routerLink='/admin/account/accounts' class="txt-gray">Cancel</a>
                                    </div>
                                    <div class="col-6 mt-3" href="javascript:void(0)">
                                        <button class="btn btn-maestro orange w-100" (click)="addAccountList()">Save</button> 
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
