<<<<<<< HEAD
<div class="container-fluid bg-escuro" style="height: 100vh;">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="txt-white mt-5">Welcome to Maestro!</h1>
            <div class="my-3"><img src="./assets/logos/maestro-icon.svg" alt="maestro-logo"></div>

            <a href="javascript:void(0)" routerLinkActive='active' routerLink='/auth' class="btn-maestro orange">Login</a>
            <a href="javascript:void(0)" routerLinkActive='active' routerLink='/admin' class="btn-maestro green">Dashboard</a>
=======
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-escuro">
            <div class="row">
                <div class="col-12 img-linhas">
                    <img src="./assets/photos/linhas-home.png" class="w-100" alt="linha-background">
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 aba-topo">
                    <h1>
                        Nós ajudamos pequenas e médias empresas a <span>vender para as grandes.</span>
                    </h1>
                    <div class="col-xl-7 col-lg-7 col-md-5 col-sm-8 col-8 mt-4 pl-0">
                        <a href="http://" class="btn btn-maestro orange w-100 text-uppercase">get an invite</a>
                        <div class="row">
                            <div class="col-6 img-batuta">
                                <img src="./assets/photos/batuta.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 my-auto img-topo">
                    <img src="./assets/photos/img-topo.png" class="w-100" alt="">
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 btn-invite">
                            <a href="#" class="btn btn-maestro orange w-100">
                                <img src="./assets/icons/circulo-verde.svg" alt="icone-circulo-verde">
                                Get a invite
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="abm">
    <div class="row">
        <div class="col-12 bg-escuro">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pl-0">
                    <img src="./assets/photos/img-abm.png" class="w-100" alt="image-abm">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 aba-abm">
                    <h2>What's ABM ?</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis metus non elementum pellentesque. Ut vel magna rutrum, rutrum magna et, maximus orci. Sed in accumsan ipsum, at finibus sapien. Nunc ornare elit quis ante sagittis, venenatis tincidunt lorem fringilla. Phasellus vitae commodo libero, at cursus mi. Duis scelerisque leo eu placerat mattis. Aliquam eget mauris dolor. Donec ipsum dui, suscipit vel semper et, fermentum nec velit. Duis pretium vestibulum euismod.
                    </p>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-6 pl-0">
                        <a href="#" class="btn btn-maestro orange w-100 text-uppercase">
                            Get a invite
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 aba-maestro">
            <div class="row">
                <div class="col-11 mx-auto padding-maestro">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                            <div class="card-maestro sem">
                                <h3>Sem Maestro</h3>
                                <div class="col-12 p-0 mt-4">
                                    <img src="./assets/icons/linha-pontilhada-vermelha.svg" alt="linha" class="img-linha">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="./assets/icons/papeis.svg" class="w-100" alt="icone-papeis">
                                        </div>
                                        <div class="col-8 pl-0 text-left my-auto"> <h5>Papéis</h5> </div>
                                    </div>
                                    <div class="row my-5">
                                        <div class="col-3">
                                            <img src="./assets/icons/planilhas.svg" class="w-100" alt="icone-papeis">
                                        </div>
                                        <div class="col-8 pl-0 text-left my-auto"> <h5>Planilhas</h5> </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="./assets/icons/marketing.svg" class="w-100" alt="icone-papeis">
                                        </div>
                                        <div class="col-8 pl-0 text-left my-auto"> 
                                            <h5>Falta de alinhamento entre Marketing e Vendas</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-3 my-auto text-center img-versus">
                            <img src="./assets/icons/x.svg" class="w-50" alt="icon-versus">
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                            <div class="card-maestro com">
                                <h3>Com Maestro</h3>
                                <div class="col-12 p-0 mt-4">
                                    <img src="./assets/icons/linha-pontilhada-verde.svg" alt="linha" class="img-linha">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="./assets/icons/organizacao.svg" class="w-100" alt="icone-papeis">
                                        </div>
                                        <div class="col-8 pl-0 text-left my-auto"> <h5>Tudo organizado em um lugar só</h5> </div>
                                    </div>
                                    <div class="row my-5">
                                        <div class="col-3">
                                            <img src="./assets/icons/plays-verde.svg" class="w-100" alt="icone-papeis">
                                        </div>
                                        <div class="col-8 pl-0 text-left my-auto"> <h5>Faça plays 5x mais rápido</h5> </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="./assets/icons/equipe.svg" class="w-100" alt="icone-papeis">
                                        </div>
                                        <div class="col-8 pl-0 text-left my-auto"> 
                                            <h5>Suas equipes alinhadas e gerando mais vendas</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="features">
    <div class="row">
        <div class="col-12 bg-escuro">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 txt-telas my-auto order-lg-first  order-md-first">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2 pr-0">
                                    <img src="./assets/icons/audience.svg" class="w-100" alt="icone-audience">
                                </div>
                                <div class="col-10 my-auto text-uppercase txt-orange">Audience</div>
                            </div>
                        </div>
                    </div>
                    <h2 class="mt-3">Everybody you need, fully organized</h2>
                    <p>Concentre toda sua base de empresas e pessoas em um único lugar, de forma organizada.</p>   
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12 img-tela order-first">
                    <img src="./assets/photos/img-audience.png" class="w-100" alt="image-audience">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-escuro">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12 img-tela v1">
                    <img src="./assets/photos/img-plays.png" class="w-100" alt="image-audience">
                </div>
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 txt-telas v1 my-auto">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2 pr-0">
                                    <img src="./assets/icons/plays.svg" class="w-100" alt="icone-audience">
                                </div>
                                <div class="col-10 my-auto text-uppercase txt-orange">Plays</div>
                            </div>
                        </div>
                    </div>
                    <h2 class="mt-3">Easiest way to play</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis metus non elementum pellentesque. Ut vel magna rutrum, rutrum magna et, maximus orci..</p>   
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-escuro">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-11 col-sm-11 col-11 mx-auto citacao">
                    <div class="card-citacao">
                        <div class="row">                                
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 linha">                                                                        
                                <div class="row">
                                    <div class="col-3 img-aspas">
                                        <img src="./assets/icons/aspas.svg" class="w-100" alt="icone-aspas">
                                    </div>
                                    <div class="col-4">
                                        <img src="./assets/photos/img-marcelo.png" class="w-100" alt="">
                                    </div>
                                    <div class="col-8 my-auto">
                                        <h5 class="txt-orange">Marcelo Gomes</h5>
                                        <span>Head of Marketing | Lemonade</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-auto">
                                <h6>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis metus non elementum pellentesque."</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-escuro">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 txt-telas my-auto  order-lg-first  order-md-first">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2 pr-0">
                                    <img src="./assets/icons/dashboard.svg" class="w-100" alt="icone-audience">
                                </div>
                                <div class="col-10 my-auto text-uppercase txt-orange">Dashboard</div>
                            </div>
                        </div>
                    </div>
                    <h2 class="mt-3">See all the results to check team’s performance</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis metus non elementum pellentesque. Ut vel magna rutrum, rutrum magna et, maximus orci.</p>   
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12 img-tela order-first">
                    <img src="./assets/photos/img-dashboard.png" class="w-100" alt="image-audience">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-escuro">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12 img-tela v2">
                    <div class="col-9 mx-auto">
                        <img src="./assets/photos/img-connect.png" class="w-100" alt="image-connect">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 txt-telas v1 my-auto">                    
                    <h2 class="mt-3">Connect with the tools you already use</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis metus non elementum pellentesque. Ut vel magna rutrum, rutrum magna et, maximus orci.</p>   
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 concert">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12 txt-telas my-auto">
                    <div class="row">
                        <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-2 pr-0 mb-2">
                            <img src="./assets/icons/email-branco.svg" class="w-100" alt="icone-envelope">
                        </div>
                    </div>
                    <h2>Get into the concert</h2>
                    <p>Que tal ser um dos primeiros a usar a <br/>
                        Maestro em suas campanhas de ABM?</p>
                    <p>Inscreva-se para receber seu convite.</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 form">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control w-100" name="nome" id="nome" placeholder="Nome Completo">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control w-100" name="email" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control w-100" name="telefone" id="telefone" placeholder="Telefone">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control w-100" name="empresa" id="empresa" placeholder="Empresa">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control w-100" name="cargo" id="cargo" placeholder="Cargo">
                        </div>
                        <button type="submit" class="btn btn-maestro orange w-100"> Get an invite for Early Access</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-11 mx-auto blog">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                                    <h2 class="bold">Aprenda mais sobre ABM</h2>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                                    <h6 class="txt-orange text-uppercase bold acesso">
                                        Acesse nosso blog
                                        <img src="./assets/icons/arrow-red.svg" class="seta" alt="">
                                    </h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 card-blog mt-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="./assets/photos/img-blog.png" class="w-100" alt="image-blog">
                                        </div>
                                        <div class="col-12 mt-3">
                                            <img src="./assets/icons/ebook.svg" class="icon" alt="icone-ebook">
                                            <span>Ebook</span>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <h4>Vendas Enterprise: checklist para uma base sólida</h4>
                                        </div>
                                        <div class="col-12 mt-4">
                                            <h6 class="text-uppercase baixar">
                                                Baixar agora
                                                <img src="./assets/icons/arrow-azul.svg" class="icon-arrow" alt="icone-seta">
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 card-blog mt-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="./assets/photos/img-blog.png" class="w-100" alt="image-blog">
                                        </div>
                                        <div class="col-12 mt-3">
                                            <img src="./assets/icons/ebook.svg" class="icon" alt="icone-ebook">
                                            <span>Ebook</span>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <h4>Vendas Enterprise: checklist para uma base sólida</h4>
                                        </div>
                                        <div class="col-12 mt-4">
                                            <h6 class="text-uppercase baixar">
                                                Baixar agora
                                                <img src="./assets/icons/arrow-azul.svg" class="icon-arrow" alt="icone-seta">
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 card-blog mt-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="./assets/photos/img-blog.png" class="w-100" alt="image-blog">
                                        </div>
                                        <div class="col-12 mt-3">
                                            <img src="./assets/icons/ebook.svg" class="icon" alt="icone-ebook">
                                            <span>Ebook</span>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <h4>Vendas Enterprise: checklist para uma base sólida</h4>
                                        </div>
                                        <div class="col-12 mt-4">
                                            <h6 class="text-uppercase baixar">
                                                Baixar agora
                                                <img src="./assets/icons/arrow-azul.svg" class="icon-arrow" alt="icone-seta">
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
>>>>>>> origin/ajustes-front
        </div>
    </div>
</div>