@import 'helpers';
@import 'variables';
@import 'components';

// SCROLL 1
.img-linhas {
    padding: 0;
    position: absolute;
    top: 5px;
    @include media-breakpoint-down(md) { display: none; }
}
.aba-topo {
    color: $color-1;
    h1 { line-height: 1.4em; }
    span { color: $color-3; }
    padding: 140px 25px 80px 60px;
    @include media-breakpoint-down(md) { 
        padding: 130px 25px 50px;
        h1 { font-size: 1.7em; }
    }
    @media only screen and (max-width: 360px) { padding: 50px 25px 50px; }
    @media only screen and (min-width: 768px)  and (max-width: 991px) {
        padding: 130px 0 30px 55px;
        h1 { font-size: 2.5em; }
    }

    .img-batuta {
        margin-left: 300px; 
        margin-top: -35px;
        @include media-breakpoint-down(md) { 
            margin-left: 230px; 
            margin-top: -45px;
        }
        @media only screen and (min-width: 768px)  and (max-width: 991px) {
            margin-left: 300px; 
            margin-top: -45px;
        }
    }
}
.img-topo {
    margin-left: 180px;
    @include media-breakpoint-down(md) { 
        margin-left: 0;
        padding-bottom: 130px;
    }
}
.btn-invite {
    border-radius: 10px;
    border: 1px solid $color-7;
    padding: 5px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    img { width: 25px; }
}

// SCROLL 2
.aba-abm {
    padding: 250px 0 130px 80px;
    h2 { color: $color-7; }
    p { 
        color: $color-2;
        padding: 10px 140px 10px 0px;
        font-family: 'OpenSans-SemiBold';        
    }

    @include media-breakpoint-down(md) { 
        padding: 30px 0 40px 20px;
        p { padding: 10px 30px 10px 0px; }
    }
    @media only screen and (min-width: 768px)  and (max-width: 991px) {
        padding: 40px 10px 90px;
        p {
            padding: 10px 10px 10px 0px;
            font-size: 0.8em;
        }
    }
}

// SCROLL 3
.aba-maestro {
    background-color: $color-20;
    .padding-maestro {
        padding: 50px 10px 50px 130px;
        @include media-breakpoint-down(md) { padding: 50px 10px; }
        @media only screen and (min-width: 768px)  and (max-width: 991px) { padding: 50px 10px; }
    }
    .card-maestro {
        height: 70vh;
        background-color: $color-1;
        padding: 30px 30px 40px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.39);
        
        .img-linha {
            position: absolute;
            left: 33px;
            top: 0;
            width: 4px;
        }
        &.sem {
            border-top: 10px solid $color-18;
            h3 { color: $color-18; }            
        }
        &.com {
            border-top: 8px solid $color-14;
            h3 { color: $color-14; }
        }

        @include media-breakpoint-down(md) { 
            height: auto;
            padding: 20px;
            .img-linha {
                left: 20px;
                width: 3.4px;
            }
        }
        @media only screen and (min-width: 768px)  and (max-width: 991px) {
            padding: 20px;
            height: 40vh;
        }
    }
    .img-versus {
        @include media-breakpoint-down(md) {
            padding: 20px 10px;
            margin-left: 130px;
        }
        @media only screen and (min-width: 768px)  and (max-width: 991px) { 
            margin-left: 0;
            padding: 10px;
        }
    }
}

// SCROLL 4 - SCROLL 5 - SCROLL 7 - SCROLL 8
.txt-telas {
    color: $color-1;    
    padding: 0 80px 0 70px;
    h2 { font-size: 2.5em;}
    p { font-size: 1.2em;}

    &.v1 { padding: 0 100px 0 10px;}
    @include media-breakpoint-down(md) { 
        padding: 10px 20px 0;
        h2 { font-size: 2em; }
        &.v1 {padding: 0 20px;}
    }
}
.img-tela {
    padding: 50px 0 0 10px;
    &.v1 { padding: 50px 10px 0 0; }
    &.v2 { padding: 50px 10px; }
}

// SCROLL 6
.citacao {
    padding: 50px 10px;
    .img-aspas {
        position: absolute;
        z-index: 1;
        top: -50px;
        left: -30px;
        padding: 20px;
        @include media-breakpoint-down(md) {
            top: -30px;
            left: -20px;
        }
    }
    .linha { 
        border-right: 1px solid $color-1;
        @include media-breakpoint-down(md) { border: none; }
    }
    .card-citacao {
        padding: 40px;
        color: $color-1;
        border-radius: 10px;
        background-color: rgb(52, 111, 219, 0.25);
        @include media-breakpoint-down(md) { 
            padding: 20px;
            h6 { 
                text-align: center;
                padding-top: 20px;
            }
        }
        @media only screen and (min-width: 767px)  and (max-width: 991px) { 
            h6 { padding-top: 0; }
        }
    }
}

// SCROLL 9
.form { padding: 60px 10px;}
.concert { 
    position: relative;
    z-index: 15;
    color: $color-1;
    background-color: $color-19;  
    background-image: url('../../../../assets/backgrounds/bg-concert.png');  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// SCROLL 10
.blog { 
    padding: 60px 10px;
    .seta {
        transform: rotate(-90deg);
        width: 15px;
        margin-left: 5px;
    }
    .card-blog {
        .icon { width: 30px; }
        .icon-arrow { width: 20px; }
        span {
            color: $color-19;
            margin-left: 5px;
            text-transform: uppercase;
            font-family: 'OpenSans-SemiBold';
        }
        h6 { 
            color: $color-19;
            &:hover {
                cursor: pointer;
                color: $color-7;
            }
        }
    }
    @include media-breakpoint-down(md) { 
        h2 { font-size: 1.5em; }
    }
    .acesso {
        &:hover {
            cursor: pointer;
            color: $color-19;
        }
    }
}