@import 'helpers';
@import 'variables';
@import 'components';

.aba-template {    
    color: $color-1;
    background-color: $color-6;
    @include media-breakpoint-up(lg) {height: 100vh;} 
}
.card-bring {
    padding: 80px 0 50px;
}

.txt-template {
    cursor: pointer;
    outline: 0;
    border: none;
}