<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-3 col-12 aba-template">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <div class="row">
                                <div class="col-2">
                                    <a  href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/admin/playbook']">
                                        <img src="./assets/icons/arrow-left.svg" class="arrow-back w-100" alt="voltar">
                                    </a>
                                </div>                            
                                <div class="col-10">Template</div>
                            </div>
                        </div>
                        <div class="col-11 mx-auto">
                            <div class="row">
                                <div class="col-lg-8 coll-12 card-bring">
                                    <h3>Bring your play to life</h3>
                                </div>
                                <div class="col-12 p-0" (click)="this.helper.select('template')">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="./assets/icons/elipse-orange.svg" class="imgLink w-100" alt="">
                                        </div>
                                        <div class="col-lg-9 col-10 my-auto txt-template txt-orange"  routerLinkActive='active' routerLink='choose-template'>
                                            Choose a template
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 my-5 p-0" (click)="this.helper.select('target')">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="./assets/icons/elipse-white.svg" class="imgLink w-100" alt="">
                                        </div>
                                        <div class="col-lg-9 col-10 my-auto txt-template" routerLinkActive='active' routerLink='target'>
                                            Select your target audience
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 p-0" (click)="this.helper.select('goal')">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="./assets/icons/elipse-white.svg" class="imgLink w-100" alt="">
                                        </div>
                                        <div class="col-lg-9 col-10 my-auto txt-template" routerLinkActive='active' routerLink='goal'>
                                            Set a goal
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-12 bg-claro">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
