<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 mx-auto">
                    <h1 class="bold">Account List</h1>
                    <div class="row">
                        <div class="col-12 quickcard v1">
                            <div class="row">
                                <div class="col-lg-3 col-6">
                                    <a class="btn btn-maestro orange w-100" routerLinkActive='active'
                                        routerLink='/admin/account/lists-add'>
                                        <img src="./assets/icons/plus-white-a.svg" alt="new-icon">
                                        New list
                                    </a>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <a class="btn btn-maestro blue w-100"
                                    data-toggle="modal" data-target="#exampleModalActionList">
                                        <img src="./assets/icons/hand.svg" alt="action-icon">
                                        Actions
                                    </a>
                                </div>
                                <div class="col-lg-6 col-11 mx-auto search-account">
                                    <div class="row">
                                        <div class="col-lg-8 col-8 mt-2">
                                            <form>
                                                <div class="form-group">
                                                    <input placeholder="Busca"  #s (input)="search(s.value)" class="form-control"> 
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-4 col-4">
                                            <a class="btn btn-maestro gray w-100">
                                                <img src="./assets/icons/download-a.svg" alt="download-icon">
                                                Export
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-5">
                                    <div class="row">
                                        <div class="col-2 list-account">list name</div>
                                        <div class="col-1 text-uppercase list-account">nº of accounts</div>
                                        <div class="col-1  text-center text-uppercase list-account">type</div>
                                        <div class="col-2 text-center text-uppercase list-account">accounts</div>
                                        <div class="col-1 text-center list-account">created by</div>
                                        <div class="col-1 text-center list-account">favorites</div>
                                        <div class="col-2 text-center list-account">created since</div>
                                        <div class="col-1 list-account">update in</div>
                                        <div class="col-1 list-account">actions</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <form [formGroup]="this.helper.form">
                                        <div class="form-check" *ngFor="let a of accounts" >
                                            <div class="row">
                                                <div class="col-2 list-account v1 txt-orange my-auto link" >
                                                    <!-- routerLinkActive='active' routerLink='/admin/account/list-spec' -->
                                                   
                                                    {{a.name}}</div>
                                                <div class="col-1 text-uppercase list-account v1 my-auto">
                                                    {{a.number_accounts}}</div>
                                                <div class="col-1 text-center text-uppercase list-account v1 my-auto">{{a.type}}
                                                </div>

                                                <div class="col-2 text-uppercase list-account v1 my-auto list-email">
                                                    <select class="text-uppercase list-account v1 my-auto list-email" name="accountAccount" id="accountAccount">
                                                      <option *ngFor="let account of a.accounts" value={{a.account_id}} >
                                                            {{account.account_name}}
                                                        </option>
                                                    </select>
                                                </div>


                                                <div class="col-1 text-center list-account v1 my-auto">{{a.created_by}}</div>
                                                <div class="col-1  text-center list-account v1 text-center my-auto">
                                                    <img *ngIf="a.favorite" src="./assets/icons/star-complete.svg"
                                                        alt="" [id]="a.id">
                                                    <img *ngIf="!a.favorite" src="./assets/icons/star.svg" alt=""
                                                        [id]="a.id">
                                                </div>
                                                <div class="col-2 text-center list-account v1 my-auto">{{ a.created_since | date:
                                                    'dd/MM/yyyy'}}</div>
                                                <div class="col-1 list-account v1 my-auto">{{ a.updated_in | date:
                                                    'dd/MM/yyyy'}}</div>
                                                <div class="col-1 list-account v1 my-auto" data-toggle="modal"
                                                    data-target="#modalDetailList">

                                                    <button class="btn btn-maestro orange detail-button"
                                                        (click)="detailRegister(a)">
                                                        detail
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Register -->
<div class="modal fade" id="modalDetailList" tabindex="-1" role="dialog" aria-labelledby="modalDetailList"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetailList">Account List Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="listsDetailForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6 pr-0">
                                <label for="name">Name</label>
                                <input type="text" class="form-control w-100" formControlName="name" id="name"
                                    placeholder="Name">
                            </div>

                            <div class="col-lg-3">
                                <label for="type">Type</label>
                                <select name="type" id="type" formControlName="type" class="form-control w-100">
                                    <option value=".txt" [selected]="true">TXT</option>
                                    <option value=".csv">CSV</option>
                                    <option value=".xlsx">XLSX</option>
                                </select>
                            </div>
                            <div class="col-lg-3 pl-0 mt-4">
                                <div class="form-control">
                                    <label>
                                        <input type="checkbox" formControlName="favorite" id="favorite" name="favorite">
                                        Favorite
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label for="accountItem">Add account</label>
                                <select name="accountItem" id="accountItem" formControlName="accountItem"
                                    class="form-control" (click)="accountsNotInAccountList()">
                                    <option value="" [selected]="true" disabled>Select Account</option>
                                    <option *ngFor="let accountItem of accounts_not_in_accountList" value={{accountItem._id}}>
                                        {{accountItem.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mt-3" href="javascript:void(0)" routerLinkActive='active'
                            routerLink='/admin/account/account-list'>
                            <button class="btn btn-maestro orange w-100" data-dismiss="modal"
                                (click)="updateAccountList()">Update</button>
                        </div>
                        <div class="col-6 mt-3" href="javascript:void(0)" routerLinkActive='active'
                            routerLink='/admin/account/account-list'>
                            <button class="btn btn-maestro red w-100" data-dismiss="modal"
                                (click)="deleteAccountList()">Exclude</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Actions -->
<div class="modal fade" id="exampleModalActionList" tabindex="-1" role="dialog" aria-labelledby="exampleModalActionList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Actions</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h2>Futuramente teremos mais ações.</h2>
            </div>
        </div>
    </div>
</div>