@import 'helpers';
@import 'variables';
@import 'components';

/*Nav*/
.card-play {
    padding: 20px;
    @include media-breakpoint-up(lg) {
        border-radius: 0 10px 10px 0;
        min-height: 100vh;
    }
}
.nav-plays {
    @include media-breakpoint-up(lg) {
        position: relative;
        top: 100px;
    }
}
.itens-plays {
    font-size: 13px;
    padding: 15px 10px;
    cursor: pointer;
    font-family: 'OpenSans-SemiBold';
    &:hover {
        color: $color-7;
        background-color: #192138;
    }
}
.btn-play {
    @include media-breakpoint-up(lg) {
        position: absolute;
        // bottom: 10px;
        top: 300px;
        margin-top: 250px;
    }
}

/*Página*/
.infos { 
    padding: 8px 8px 0;
    @include media-breakpoint-down(md) { padding: 10px 10px 5px;}
}
.button-end {
    @include media-breakpoint-up(lg) {
        position: absolute;
        right: 0px;
        top: 5px;
    }
}
.ongoing {
    padding: 5px;
    color: $color-8;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'OpenSans-SemiBold';
    background-color: rgb(57, 156, 255, 0.3);
}
.icon-play {
    width: 20px;
    height: 20px;
}
.touchs {
    border-radius: 20px;
    padding: 2px 0;
    text-align: center;
    height: 25px;
    background-color: $color-2;
}
.icon-plus { cursor: pointer;}

.icon-plus-disabled {
    pointer-events: none;
    color: #ccc;
}

.card-status{
    color: $color-5;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.39);
    .txt-gray { font-size: 12px;}
    .status {
        color: $color-1;
        text-align: center;
        text-transform: uppercase;
        font-family: 'OpenSans-Bold';
        background-color: $color-14;
        border-radius: 10px 10px 0 0;
    }
    .info-status {
        border-radius: 10px 10px 0 0;
        background-color: rgb(131, 206, 66, 0.5);
        span {            
            text-transform: uppercase;
            font-size: 10px;
            margin-left: 5px;
            color: $color-8;
            font-family: 'OpenSans-Bold';
        }
        .txt-gray { 
            font-size: 10px;
            text-transform: uppercase;
            font-family: 'OpenSans-Bold';
        }
    }
    .show-status{
        background-color: $color-1;
        padding: 5px 0;
        border-radius: 0 0  10px 10px;
        text-transform: uppercase;
        font-family: 'OpenSans-Bold';
        text-align: center;
        img { 
            width: 25px;
        }
    }
    &.done {
        padding: 5px 0;
        text-transform: uppercase;
        background-color: $color-14;
        font-family: 'OpenSans-SemiBold';
        .status { background-color: $color-14; }
        .info-status {
            background-color: rgb(227, 245, 212);
            text-align: left;
        }            
        span { color: $color-14 !important; }
        .show-status{
            color:$color-1;
            background-color: $color-14;
        }
        
    }
    &.ongoing {
        padding: 5px 0;
        background-color: $color-13;
        .status { background-color: $color-13; }
        .info-status {
            background-color: $color-1;
            text-align: left;
        }
        .show-status{
            color: $color-14;
            background-color: $color-13;
        }
    }
}

.title-card {
    white-space: nowrap;
    overflow: hidden;  
    text-overflow:ellipsis;
}
#open { cursor: pointer;}
.showT { display: none; }
.small-text { 
    font-size: 10px;
}

.icone-status {
    width: 5px;
    &.diversos { width: 15px; }
    &.plus { width: 25px; }
}

/*Modal*/
.touch {
    @include media-breakpoint-up(lg) {
        width: 800px !important;
        position: absolute;
        left: -100px;
    }
    .card-touch {
        padding: 5px;
        cursor: pointer;
        background-color: $color-4;
    }
    button { outline: none; }
    .close {
        font-size: 50px;
        float: none !important;
        font-weight: 100;
        margin: -10px 0 0 -10px;
    }
}

/*Modal Details*/
.DetailsModal {
    .modal-content {
        @include media-breakpoint-up(lg) {
            width: 1000px !important;
            position: absolute;
            left: -230px;
        }
    }
    .details {
        color: $color-1;
        background-color: $color-6;
        font-family: 'OpenSans-Bold';
    }
    .details-closed {
        color: $color-1;
        background-color: $color-14;
        font-family: 'OpenSans-Bold';
    }
    .card-date {
        color: $color-12;
        padding: 5px;
        border-radius: 10px;
        font-family: 'OpenSans-Bold';
        background-color: rgb(248, 76, 76,0.5);
    }
    .card-date-ok {
        color: $color-8;
        padding: 5px;
        border-radius: 10px;
        font-family: 'OpenSans-Bold';
        background-color: rgb(57, 156, 255, 0.3);
    }
    .on-off {
        position: absolute;
        top: 20px;
        right: 0px;
    }
    .cardGray {
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        background-color: $color-4;
        &.cardT {
            color: $color-12;
            border-radius: 20px;
            text-transform: uppercase;
            border: 2px solid $color-12;
        }
    }
    .complete {
        color: $color-1;
        padding: 10px;
        border-radius: 10px;
        background-color: $color-9;
        font-family: 'OpenSans-SemiBold';
    }
}


.closed{
    
        padding: 5px 0;
        color: red;
        text-align: center;
        border-radius: 20px;
        text-transform: uppercase;
        font-family: "OpenSans-SemiBold";
        background-color: rgb(255 57 84 / 30%);
 
}
#ValueTouch{
    display: none;
}
#Touch{
    margin-left: 10px;
    margin-top: 10px;
}

// Modal Touchpoint Create - Action Create

.modal-title {
    font-size: 30px;
    @include media-breakpoint-up(lg) {
        padding: 0 155px 0 0;
    }
}

.card-create { 
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: $color-4;
    border-left: 2px solid $color-7;
    .txt-create {
        font-size: 15px;
    }
    .txt-create:hover{
        color: #f05b36;
    }
}
// .modal-backdrop{
//     display: none;
// }
.Option{
    display: flex;
    flex-direction: column;
}

.title-form {
    text-align: left;
    font-size: 16px;
}

.form-group { 
    padding: 2px 5px;
    text-align: left !important;
    border-radius: 10px;
    background-color: $color-17;
    input, select { 
        color: $color-5;
        border: none;
        background-color: $color-17;
    }
    label { 
        font-size: 10px;
        color: $color-16;
        text-transform: uppercase;
    }
}

.padding-line {
    padding: 10px 10px 0;
}
.end-label {
    font-size: 12px !important;
}
.scroll-modal {
    @include media-breakpoint-up(lg) {
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
        @include media-breakpoint-down(md) { height: auto; } 
        &::-webkit-scrollbar { width: 5px; }
        &::-webkit-scrollbar-thumb {
            background-color: $color-7;
            border-radius: 10px;
        }
    }
}

.iconOngoing {
    width: 25px;
}