<!-- READ PLAY -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-2 col-12 bg-escuro txt-white card-play">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h6>Running Play</h6>
                            <div class="bold">{{play?.name}}</div>
                        </div>
                        <div class="col-lg-12 col-sm-9 col-12 nav-plays">
                            <div class="row">
                                <div class="col-lg-12 col-6 itens-plays">
                                    <img src="./assets/icons/plus-white.svg" id="account" alt="empresas">
                                    <span class="mt-2 ml-1">Create new oportunity</span>
                                </div>
                                <div class="col-lg-12 col-6 itens-plays">
                                    <img src="./assets/icons/plus-white.svg" id="account" alt="empresas">
                                    <span class="mt-3 ml-1">Create new tasks</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-3 col-12 btn-play">
                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='/admin/playbook'
                                class="btn btn-maestro w-100">
                                <img src="./assets/icons/plus.svg" alt="new-play"> New Play </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-12" style="background-color: white;">
                            <div class="row">
                                <div class="col-11 mx-auto">
                                    <div class="row">
                                        <div class="col-lg-2 mt-2">
                                            <div class="text-uppercase">Play Name</div>
                                            <div class="small-text my-auto bold">{{play?.name}}</div>
                                        </div>
                                        <div class="col-lg-2 col-4 infos">
                                            <div class="text-uppercase">status</div>
                                            <div id="going" class="ongoing small-text"> {{(play?.status) ? "On Going" :
                                                "Closed" }}</div>
                                        </div>
                                        <div class="col-lg-1 col-4 infos">
                                            <div class="text-uppercase">start</div>
                                            <div class="small-text my-auto">{{start_date}}</div>
                                        </div>
                                        <div class="col-lg-1 col-4 infos">
                                            <div class="text-uppercase">end</div>
                                            <div class="small-text my-auto">{{(end_date == "31/12/1969") ? "Still open"
                                                : end_date}} </div>
                                        </div>
                                        <div class="col-lg-2 col-4 text-uppercase mt-1">
                                            <button class="btn btn-maestro green w-100" [disabled]="!play?.status"
                                                data-toggle="modal" data-target="#exampleEndPlay"> Close </button>
                                        </div>
                                        <div class="col-lg-2 col-4 text-uppercase mt-1">
                                            <button class="btn btn-maestro orange w-100" [disabled]="!play?.status"
                                                data-toggle="modal" data-target="#exampleModalCenterUp"> Update
                                            </button>
                                        </div>
                                        <div class="col-lg-2 col-4 text-uppercase mt-1">
                                            <button class="btn btn-maestro red w-100" (click)="deletePlay()"> Delete
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-6 small-text padding-line">
                                            <img src="./assets/icons/clock.svg" class="icon-play" alt="time-icon"> End
                                            by <div class="txt-gray ml-1">{{expected_end_date}}</div>
                                        </div>
                                        <div class="col-lg-2 col-6 small-text padding-line">
                                            <img src="./assets/icons/pointing.svg" class="icon-play" alt="touch-icon">
                                            Touchpoints <div class="txt-gray ml-5">{{play?.touchpoints.length}}</div>
                                        </div>
                                        <div class="col-lg-2 col-6 small-text padding-line">
                                            <img src="./assets/icons/user-orange.svg" class="icon-play"
                                                alt="contact-icon"> contacts <div class="txt-gray ml-5">
                                                {{play?.contacts}}</div>
                                        </div>
                                        <div class="col-lg-2 col-6 small-text p-0 mt-2">
                                            <img src="./assets/icons/magic-wand.svg" class="icon-play"
                                                alt="touchs-icon"> Suggested Touchs: <div class="txt-gray ml-4">Drag and
                                                Drop</div>
                                        </div>
                                        <div class="col-1 small-text touchs my-1"> Wink </div>
                                        <div class="col-1 small-text touchs my-1"> Poke </div>
                                        <div class="col-1 small-text touchs my-1"> Stalk </div>
                                        <div class="col-1 small-text touchs my-1"> Flirt </div>
                                    </div>
                                    <div class="col-12 my-5" *ngIf="percent">
                                        <mat-progress-bar mode="determinate" [(value)]="this.advance">
                                        </mat-progress-bar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="row">
                                <div class="col-12 text-center" style="background-color: white;">
                                    <h6 class="small-text">Progress</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 mx-auto text-center" (click)="progressBar()">
                                    <img src="./assets/icons/btn-down.svg" id="open" alt="open">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-11 mx-auto">
                                    <div class="row">
                                        <a (click)="getName(t.touchpoint_id)" id="Touch" data-toggle="modal"
                                            data-target="#exampleDetails" *ngFor="let t of touchpoint"
                                            class="col-lg-3 col-5">
                                            <div [ngClass]="(t.status) ? 'card-status ongoing' : 'card-status done'">
                                                <input id="ValueTouch" type="text" [(value)]="t.touchpoint_id">
                                                <div class="col-12 status"> {{(t.status) ? "On Going" : "Done" }} </div>
                                                <div class="col-12 info-status">
                                                    <img src="./assets/icons/clock-gray.svg" alt="icon-clock">
                                                    <span>{{t.start_date | date: 'fullDate' : 'UTC'}}</span>
                                                    <div class="title-card"> {{t.touchpoint_name}} </div>
                                                    <div>
                                                        <div class="txt-gray text-uppercase">To whom is directed</div>
                                                        <div *ngFor="let a of play?.accounts">{{a.account_name}}</div>
                                                    </div>
                                                    <div>
                                                        <div class="txt-gray text-uppercase">Strategy</div>
                                                        <div>{{t.channel}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-12 show-status">
                                                    <div class="bold text-uppercase">
                                                        <ng-template [ngIf]="t.status" [ngIfElse]="other_content"> ON
                                                            <mat-slide-toggle (change)="getTogle($event.target.value)">
                                                                OFF </mat-slide-toggle>
                                                        </ng-template>
                                                        <ng-template #other_content>
                                                            <img src="./assets/icons/growth.svg"
                                                                alt="comunication-icon"> Show learning
                                                        </ng-template>
                                                        <!-- </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="col-lg-1 col-2 text-center my-auto">
                                            <!-- <a [ngClass]="(play?.status) ? 'icon-plus' : 'icon-plus-disabled'"
                                                data-toggle="modal" data-target="#exampleTouch"
                                                (click)="initializeTouchpoint()">
                                                <img src="./assets/icons/elipse-play.svg" class="w-100" alt="plus-icon">
                                            </a> -->
                                            <ng-template [ngIf]="play?.status" [ngIfElse]="elipse_play_grey">
                                                <a data-toggle="modal" data-target="#exampleTouch"
                                                    (click)="initializeTouchpoint()">
                                                    <img src="./assets/icons/elipse-play.svg" class="w-100"
                                                        alt="plus-icon">
                                                </a>
                                            </ng-template>
                                            <ng-template #elipse_play_grey>
                                                <img src="./assets/icons/elipse-play-gray.svg" class="w-100"
                                                    alt="plus-icon">
                                            </ng-template>
                                            <div class="mt-3">
                                                <img src="./assets/icons/clock-gray.svg" alt="time-icon">
                                                <ng-template [ngIf]="play?.status" [ngIfElse]="no_days_to_close">
                                                    <div class="txt-gray">{{play?.daysToClose}}</div>
                                                    <div class="txt-gray">Days to go</div>
                                                </ng-template>
                                                <ng-template #no_days_to_close>
                                                    <div class="txt-gray">Closed</div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- UPDATE PLAY -->
<div class="modal fade" id="exampleModalCenterUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content touch">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetailAccount">Play Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scroll-modal">
                <form>
                    <div class="title-form">Would you like to change your play name?</div>
                    <div class="form-group">
                        <label for="name">Play Name?</label>
                        <input (input)="getNamePlay($event.target.value)" type="text" class="form-control" id="name"
                            aria-describedby="emailHelp" [value]="play?.name">
                    </div>
                    <div class="title-form">Change your play goal?</div>
                    <div class="form-group">
                        <label>Goal</label>
                        <select required (input)="getGoal($event.target.value)" class="form-control" id="goal">
                            <option value="Selling">Selling</option>
                            <option value="Training">Training</option>
                            <option value="Lobby">Lobby</option>
                            <option value="Influency">Influency</option>
                            <option (value)="play?.goal" selected="selected">{{play?.goal}}</option>
                        </select>
                    </div>
                    <div class="title-form">Change your play target?</div>
                    <div class="form-group">
                        <label for="target">Target?</label>
                        <input (input)="getTarget($event.target.value)" type="number" class="form-control" id="target"
                            aria-describedby="emailHelp" [value]="play?.target" placeholder="ie. $25.000">
                    </div>
                    <div class="title-form">Which is the investment for this play?</div>
                    <div class="form-group">
                        <label for="budget">Budget</label>
                        <input (input)="getBudget($event.target.value)" type="number" class="form-control" id="budget"
                            aria-describedby="emailHelp" [value]="play?.budget" placeholder="ie. $25.000">
                    </div>
                    <div class="title-form">How Long will it last?</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="start_date" class="col-2 col-form-label">start</label>
                                <div class="col-12">
                                    <input (input)="getStartDate($event.target.value)" class="form-control" type="date"
                                        [value]="play?.start_date" id="start_date">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="expected_end_date" class="col-2 col-form-label">end</label>
                                <div class="col-12">
                                    <input (input)="getEndDate($event.target.value)" class="form-control" type="date"
                                        [value]="play?.expected_end_date" id="expected_end_date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mt-3" href="javascript:void(0)" routerLinkActive='active'>
                            <button class="btn btn-maestro red w-100" data-dismiss="modal"
                                (click)="deletePlay()">Exclude</button>
                        </div>
                        <div class="col-6 mt-3">
                            <button class="btn btn-maestro orange w-100" data-dismiss="modal"
                                (click)="updatePlay()">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END PLAY-->
<div class="modal fade" id="exampleEndPlay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">
                    <h5>Insert Play Learnings to finish</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 form text-center p-0">
                    <form [formGroup]="form" (submit)="endPlay()">
                        <div class="form-group pt-1 pb-2" *ngIf="team">
                            <label class="end-label" for="team">1/8 - How many contacts on the team</label>
                            <input type="number" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="team" required>
                            <div class="col-4">
                                <button class="btn btn-maestro orange w-100" type="button" (click)="next('team')"> Next
                                </button>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="team_companies">
                            <label class="end-label" for="team_companies">2/8 - How many companies my team can you
                                answer</label>
                            <input type="number" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="team_companies" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button"
                                        (click)="back('team_companies')"> back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="button"
                                        (click)="next('team_companies')"> Next </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="time_to_close">
                            <label class="end-label" for="time_to_close">3/8 - Time/speed to opportunity and sale? (in
                                days)</label>
                            <input type="number" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="time_to_close" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button"
                                        (click)="back('time_to_close')"> back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="button"
                                        (click)="next('time_to_close')"> Next </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="successful_touchpoints">
                            <label class="end-label" for="successful_touchpoints"> 4/8 - How many success touchs until
                                the opportunity and sale?</label>
                            <input type="number" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="successful_touchpoints" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button"
                                        (click)="back('successful_touchpoints')"> back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="button"
                                        (click)="next('successful_touchpoints')"> Next </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="scorecard">
                            <label class="end-label" for="scorecard">5/8 - Which touchpoint with better scorecard
                                engagement?</label>
                            <input type="number" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="scorecard" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button"
                                        (click)="back('scorecard')"> back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="button"
                                        (click)="next('scorecard')"> Next </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="positions">
                            <label class="end-label" for="positions">6/8 - Which positions work best?</label>
                            <input type="text" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="positions" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button"
                                        (click)="back('positions')"> back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="button"
                                        (click)="next('positions')"> Next </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="cause">
                            <label class="end-label" for="cause">7/8 - Things that cause no or yes?</label>
                            <input type="text" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="cause" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button" (click)="back('cause')">
                                        back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="button" (click)="next('cause')">
                                        Next </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="opportunity">
                            <label class="end-label" for="opportunity">8/8 - Opportunity created?</label>
                            <input type="checkbox" class="form-control checkbox-op my-2"
                                placeholder="Type the answer here" formControlName="opportunity" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button"
                                        (click)="back('opportunity')"> back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="submit"
                                        [disabled]="form.invalid"> Finish </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="saved"> Learnings sucessfully saved <div class="row">
                                <div class="col-6">
                                    <a class="btn btn-maestro  w-100" type="button" (click)="backToPlay()">
                                        <!-- [routerLink]="['/admin/playsrunning/', play?._id]" routerLinkActive="active" -->
                                        back to play
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-maestro orange" type="submit" routerLink="/admin/dashboard"> Go to
                                        dashboard </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CREATE TOUCHPOINT -->
<div class="modal fade " id="exampleTouch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content touch">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Create new Touchpoint</div>
            </div>
            <div class="modal-body scroll-modal">
                <form [formGroup]="form_touchpoint">
                    <div class="title-form">How would you like name your touchpoint?</div>
                    <div class="form-group">
                        <label for="name">Touchpoint Name</label>
                        <input formControlName="name" type="text" class="form-control" id="name"
                            aria-describedby="emailHelp" autocomplete="off">
                    </div>
                    <!-- start copy -->
                    <div class="title-form">When will it start and end?</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="start_date" class="col-2 col-form-label">Expected start</label>
                                <div class="col-12">
                                    <input formControlName="start_date" class="form-control" type="date"
                                        id="start_date">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="expected_end_date" class="col-2 col-form-label">Expected end</label>
                                <div class="col-12">
                                    <input formControlName="end_date" class="form-control" type="date" id="end_date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="triggers">Responsibile</label>
                        <select formControlName="responsibles" type="text" class="form-control" id="responsibles"
                            aria-describedby="emailHelp">
                            <option *ngFor="let responsible of responsibles" [ngValue]="[responsible.responsible]">
                                {{responsible.responsible}} </option>
                        </select>
                    </div>
                    <div class="title-form">Add your touchpoint strategy</div>
                    <div class="form-group">
                        <label for="target">Description</label>
                        <input formControlName="description" type="text" class="form-control" id="description"
                            aria-describedby="emailHelp" placeholder="Add a description" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="triggers">Triggers</label>
                        <!-- <input formControlName="triggers" type="text" class="form-control" id="triggers"
                            aria-describedby="emailHelp" placeholder="ie. Envy, Fear, Antecipation..."> -->
                        <select formControlName="triggers" type="text" class="form-control" id="triggers"
                            aria-describedby="emailHelp" placeholder="ie. Envy, Fear, Antecipation...">
                            <option value="Envy">Envy</option>
                            <option value="Fear">Fear</option>
                            <option value="Antecipation">Antecipation</option>
                            <option value="Uncertainty">Uncertainty</option>
                            <option value="Reciprocity">Reciprocity</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="icebreaker">Add some catch phrases as icebreaker</label>
                        <input formControlName="icebreaker" type="text" class="form-control" id="icebreaker"
                            aria-describedby="emailHelp" placeholder="ie.  Hey, how are you?" autocomplete="off">
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <a class="btn btn-maestro orange w-100" data-toggle="modal" data-target="#actionModal">
                                Behaviour </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="action">Behaviour</label>
                        <input formControlName="behaviour" type="text" class="form-control" id="action"
                            aria-describedby="emailHelp" value="{{action}}" disabled="true" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="event">Action</label>
                        <input formControlName="action" type="text" class="form-control" id="event"
                            aria-describedby="emailHelp" value="{{event}}" disabled="true" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="triggers">Contact</label>
                        <select formControlName="contacts" type="text" class="form-control" id="contacts"
                            aria-describedby="emailHelp">
                            <option [ngValue]="[contact]" *ngFor="let contact of contacts"> {{contact.contact_name}}
                            </option>
                        </select>
                    </div>
                </form>
                <div class="row">
                    <div class="col-8">
                        <!-- <a href="http://" class="btn btn-maestro orange text-uppercase w-100"> create touch</a> -->
                        <button class="btn btn-maestro orange w-100" data-dismiss="modal"
                            (click)="createTouchpoint()">Create</button>
                    </div>
                    <div class="col-4  my-auto">
                        <button type="button" class="close w-100" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Touchpoint Create - Action Create -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="actionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Select behaviour action</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="form_touchpoint">
                <div class="modal-body">
                    <div class="card-create mt-3" (click)="openAction('Wink')">
                        <input type="text" class="form-control" formControlName="behaviour" [hidden]="true"
                            id="behaviour" aria-describedby="emailHelp"> Wink <div class="Option" *ngIf="openwink">
                            <a (click)="getAction($event.target.name)" [name]="w.name" class="txt-create"
                                data-toggle="modal" data-target="#actionModal" *ngFor="let w of touchpointActions.wink">
                                {{ w.name }} </a><br>
                        </div>
                    </div>
                    <div class="card-create mt-3" (click)="openAction('Poke')"> Poke <div class="Option"
                            *ngIf="openpoke">
                            <a (click)="getAction($event.target.name)" [name]="p.name" class="txt-create"
                                data-toggle="modal" data-target="#actionModal" *ngFor="let p of touchpointActions.poke">
                                {{ p.name}} </a><br>
                        </div>
                    </div>
                    <div class="card-create mt-3" (click)="openAction('Stalk')"> Stalk <div class="Option"
                            *ngIf="openstalk">
                            <a (click)="getAction($event.target.name)" [name]="s.name" class="txt-create"
                                data-toggle="modal" data-target="#actionModal"
                                *ngFor="let s of touchpointActions.stalk"> {{ s.name }} </a><br>
                        </div>
                    </div>
                    <div class="card-create mt-3" (click)="openAction('Flirt')"> Flirt <div class="Option"
                            *ngIf="openflirt">
                            <a (click)="getAction($event.target.name)" [name]="f.name" class="txt-create"
                                data-toggle="modal" data-target="#actionModal"
                                *ngFor="let f of touchpointActions.flirt"> {{ f.name }} </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- READ TOUCHPOINT -->
<div class="modal fade DetailsModal" id="exampleDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div [ngClass]="(current_touchpoint?.status) ? 'modal-header details' : 'modal-header details-closed'">
                <div class="modal-title" id="exampleModalLabel"> {{(current_touchpoint?.status) ? "On Going" : "Closed"
                    }} </div>
            </div>
            <div class="modal-body detailsB scroll-modal">
                <div class="row">
                    <div class="col-11">
                        <h4>{{current_touchpoint?.name}}</h4>
                    </div>
                    <div class="col-1">
                        <img src="./assets/icons/dots.svg" class="icone-status" alt="dots-icons">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 txt-blue bold text-uppercase">
                        <img src="./assets/icons/list.svg" class="icone-status diversos" alt="list-icon"> Description
                    </div>
                    <div class="col-12">
                        <div class="cardGray"> {{current_touchpoint?.description}} </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-uppercase txt-gray small-text bold">Expected end date</div>
                            </div>
                            <ng-template [ngIf]="is_late" [ngIfElse]="is_late_template">
                                <div class="col-6">
                                    <div class="card-date">
                                        <img src="./assets/icons/clock.svg" class="icone-status diversos" alt="">
                                        {{(current_touchpoint?.end_date) ? (current_touchpoint?.end_date | date:
                                        'fullDate' : 'UTC') : "Still open"}}
                                    </div>
                                </div>
                                <div class="col-2 card-date">
                                    <img src="./assets/icons/fire.svg" class="icone-status diversos" alt=""> Late
                                </div>
                            </ng-template>
                            <ng-template #is_late_template>
                                <div class="col-6">
                                    <div class="card-date-ok">
                                        <img src="./assets/icons/clock.svg" class="icone-status diversos" alt="">
                                        {{(current_touchpoint?.end_date) ? (current_touchpoint?.end_date | date:
                                        'fullDate' : 'UTC') : "Still open"}}
                                    </div>
                                </div>
                                <div class="col-2 card-date-ok">
                                    <img src="./assets/icons/fire.svg" class="icone-status diversos" alt=""> On Time
                                </div>
                            </ng-template>
                            <ng-template [ngIf]="!toggle" [ngIfElse]="toggle_off">
                                <div class="col-4 on-off" data-toggle="modal" data-target="#exampleEndTouchpoint"> ON
                                    <mat-slide-toggle [(ngModel)]="toggle">OFF </mat-slide-toggle>
                                </div>
                            </ng-template>
                            <ng-template #toggle_off>
                                <div class="col-4 on-off"> ON <mat-slide-toggle [(ngModel)]="toggle"
                                        [disabled]="toggle">OFF </mat-slide-toggle>
                                </div>
                            </ng-template>
                            <!-- <div class="col-4 on-off" data-toggle="modal" data-target="#exampleEndTouchpoint">
                                ON <mat-slide-toggle [(ngModel)]="toggle">OFF
                                </mat-slide-toggle>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-3">
                                <div class="cardGray">
                                    <div class="text-uppercase txt-gray small-text">strategy</div>
                                    <img src="./assets/icons/magic-wand.svg" class=" icone-status diversos"
                                        alt="linkedin-icon"> {{current_touchpoint?.behaviour}}
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="cardGray">
                                    <div class="text-uppercase txt-gray small-text">responsible</div>
                                    {{current_touchpoint?.responsibles}}
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="cardGray">
                                    <div class="text-uppercase txt-gray small-text">who will receive the touch</div>
                                    <div *ngFor="let who of current_touchpoint?.for_who"> {{who.account_name}}
                                        <!-- {{current_touchpoint?.for_who[0].account_name}} -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="cardGray">
                                    <div class="text-uppercase txt-gray small-text">Which contacts</div>
                                    <div *ngFor="let which of current_touchpoint?.contacts"> {{which.contact_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 txt-blue bold text-uppercase">
                        <img src="./assets/icons/list.svg" class="icone-status diversos" alt="list-icon"> Tactic action
                    </div>
                    <div class="col-12">
                        <div class="cardGray"> {{current_touchpoint?.action}} </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 txt-blue bold text-uppercase">
                        <img src="./assets/icons/brain.svg" class="icone-status diversos" alt="brain-icon"> Triggers
                    </div>
                    <div class="col-11 pl-0 mx-auto my-2">
                        <div class="row">
                            <div class="cardGray cardT">{{current_touchpoint?.triggers}}</div>
                            <img src="./assets/icons/plus-gray.svg" class="icone-status plus" alt="plus">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 txt-blue bold text-uppercase">
                        <img src="./assets/icons/chat-box.svg" class="icone-status diversos" alt="suggest-icon">
                        Suggested ice breaker
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <div class="cardGray">{{current_touchpoint?.icebreaker}} </div>
                            </div>
                            <div class="col-4">
                                <div class="cardGray">Hey, how are you?</div>
                            </div>
                            <div class="col-4">
                                <div class="cardGray">Hello, do you remember me?</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 txt-blue bold text-uppercase">
                        <img src="./assets/icons/attachment.svg" class="icone-status diversos" alt="suggest-icon">
                        Attachments
                    </div>
                    <div class="col-12">
                        <form [formGroup]="form">
                            <div class="form-group">
                                <input type="file" formControlName="file" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 txt-blue bold text-uppercase">
                        <img src="./assets/icons/chat.svg" class="icone-status diversos" alt="comunication-icon">
                        Comunication
                    </div>
                    <div class="col-11 p-0 mx-auto cardGray"> Chat </div>
                </div>
                <ng-template [ngIf]="current_touchpoint?.status" [ngIfElse]="current_touchpoint_closed">
                    <div class="row mt-3">
                        <div class="col-11 mx-auto text-center text-uppercase complete">
                            <img src="./assets/icons/check-mark.svg" alt="checked-icon"> Complete Learning and Finish
                            touch
                        </div>
                    </div>
                </ng-template>
                <ng-template #current_touchpoint_closed>
                    <div class="row my-5">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3 txt-blue bold text-uppercase">
                                    <img src="./assets/icons/growth.svg" class="icone-status diversos"
                                        alt="comunication-icon"> Learnings
                                </div>
                                <div class="col-4">
                                    <a routerLinkActive='active' routerLink='/admin/dashboard'
                                        class="btn btn-maestro blue w-100 text-uppercase">show on dashboard</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="row">
                                <div class="col-11">
                                    <div class="row">
                                        <div class="col-2"> Did it work? <div class="row">
                                                <ng-template [ngIf]="current_touchpoint?.learning_touchpoint[0].worked"
                                                    [ngIfElse]="didnt_work">
                                                    <div class="col-6">
                                                        <div class="cardGray">
                                                            <img src="./assets/icons/yes.svg" alt=""> Yes
                                                        </div>
                                                    </div>
                                                </ng-template>
                                                <ng-template #didnt_work>
                                                    <div class="col-6">
                                                        <div class="cardGray">
                                                            <img src="./assets/icons/no.svg" class="mt-2" alt=""> No
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="text-center">Touchpoint rating</div>
                                            <div [ngSwitch]="current_touchpoint?.learning_touchpoint[0].scorecard">

                                                <div class="row" *ngSwitchCase="'1'">
                                                    <div class="col-2 mx-auto"><img
                                                            src="./assets/icons/star-complete.svg" alt="">
                                                    </div>
                                                    <div class="col-2 mx-auto"><img src="./assets/icons/star.svg"
                                                            alt="">
                                                    </div>
                                                    <div class="col-2 mx-auto"><img src="./assets/icons/star.svg"
                                                            alt="">
                                                    </div>
                                                    <div class="col-2 mx-auto"><img src="./assets/icons/star.svg"
                                                            alt="">
                                                    </div>
                                                    <div class="col-2 mx-auto"><img src="./assets/icons/star.svg"
                                                            alt="">
                                                    </div>
                                                    <div class="txt-gray txt-small text-center">Poor</div>
                                                </div>

                                                <div *ngSwitchCase="'2'">
                                                    <div class="row" *ngSwitchCase="'2'">
                                                        <div class="col-2 mx-auto"><img
                                                                src="./assets/icons/star-complete.svg" alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img
                                                                src="./assets/icons/star-complete.svg" alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star.svg"
                                                                alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star.svg"
                                                                alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star.svg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                    <div class="txt-gray txt-small text-center">Fair</div>
                                                </div>
                                                <div *ngSwitchCase="'3'">
                                                    <div class="row" *ngSwitchCase="'3'">
                                                        <div class="col-2 mx-auto"><img
                                                                src="./assets/icons/star-complete.svg" alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img
                                                                src="./assets/icons/star-complete.svg" alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star-complete.svg"
                                                                alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star.svg"
                                                                alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star.svg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                    <div class="txt-gray txt-small text-center">Good</div>
                                                </div>
                                                <div *ngSwitchCase="'4'">
                                                    <div class="row" *ngSwitchCase="'4'">
                                                        <div class="col-2 mx-auto"><img
                                                                src="./assets/icons/star-complete.svg" alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img
                                                                src="./assets/icons/star-complete.svg" alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star-complete.svg"
                                                                alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star-complete.svg"
                                                                alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star.svg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                    <div class="txt-gray txt-small text-center">Very Good!</div>
                                                </div>
                                                <div *ngSwitchCase="'5'">
                                                    <div class="row" *ngSwitchCase="'5'">
                                                        <div class="col-2 mx-auto"><img
                                                                src="./assets/icons/star-complete.svg" alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img
                                                                src="./assets/icons/star-complete.svg" alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star-complete.svg"
                                                                alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star-complete.svg"
                                                                alt="">
                                                        </div>
                                                        <div class="col-2 mx-auto"><img src="./assets/icons/star-complete.svg"
                                                                alt="">
                                                        </div>
                                                    </div>
                                                    <div class="txt-gray txt-small text-center">Excellent!</div>
                                                </div>
                                                <div row *ngSwitchDefault>
                                                    <div class="row">You didn´t input any rating </div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        <div class="col-5"> 
                                            
                                            Responders: {{current_touchpoint?.learning_touchpoint[0].responders}}  
                                            <div> Days to close: {{current_touchpoint?.learning_touchpoint[0].time_to_close}}</div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 50%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div> Team/Participants: {{current_touchpoint?.learning_touchpoint[0].team}}</div>
                                            <div> Team Companies: {{current_touchpoint?.learning_touchpoint[0].team_companies}}</div>
                                            <a class="txt-orange txt-small" data-toggle="modal"
                                                data-target="#exampleContact">Select Contacts</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-11 mx-auto text-center text-uppercase complete">
                            <img src="./assets/icons/check-mark.svg" alt="checked-icon"> Touchpoint Complete!
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<!-- END TOUCHPOINT-->
<div class="modal fade" id="exampleEndTouchpoint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">
                    <h5>Insert Touchpoint Learnings to finish</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 form text-center p-0">
                    <form [formGroup]="form_endTouchpoint" (submit)="endTouchpoint()">
                        <div class="form-group pt-1 pb-2" *ngIf="team">
                            <label class="end-label" for="team">1/6 - How many contacts on the team worked on this
                                touch</label>
                            <input type="number" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="team" required>
                            <div class="col-4">
                                <button class="btn btn-maestro orange w-100" type="button"
                                    (click)="next_touchpoint('team')"> Next </button>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="team_companies">
                            <label class="end-label" for="team_companies">2/6 - How many companies my team can you
                                answer</label>
                            <input type="number" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="team_companies" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button"
                                        (click)="back_touchpoint('team_companies')"> Back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="button"
                                        (click)="next_touchpoint('team_companies')"> Next </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="time_to_close">
                            <label class="end-label" for="time_to_close">3/6 - Time/speed to opportunity and sale? (in
                                days)</label>
                            <input type="number" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="time_to_close" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button"
                                        (click)="back_touchpoint('time_to_close')"> Back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="button"
                                        (click)="next_touchpoint('time_to_close')"> Next </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="worked">
                            <label class="end-label" for="worked">4/6 - Did it work?</label>
                            <input type="checkbox" class="form-control checkbox-op my-2"
                                placeholder="Type the answer here" formControlName="worked" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button"
                                        (click)="back_touchpoint('worked')"> back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="button"
                                        (click)="next_touchpoint('worked')"> Next </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="scorecard">
                            <label class="end-label" for="scorecard">5/6 - Rank your touchpoint 1 to 5</label>
                            <input type="number" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="scorecard" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button"
                                        (click)="back_touchpoint('scorecard')"> Back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="button"
                                        (click)="next_touchpoint('scorecard')"> Next </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="responders">
                            <label class="end-label" for="responders">6/6 - Responders?</label>
                            <input type="number" class="form-control my-2" placeholder="Type the answer here"
                                formControlName="responders" required>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn btn-maestro gray w-100" type="button"
                                        (click)="back_touchpoint('responders')"> Back </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-maestro orange w-100" type="submit"
                                        [disabled]="form_endTouchpoint.invalid"> Finish </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pt-1 pb-2" *ngIf="saved"> Touchpoint Learnings sucessfully saved <div
                                class="row">
                                <div class="col-6">
                                    <a class="btn btn-maestro  w-100" type="button"> Back to Touchpoint </a>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-maestro orange" type="submit"> Go to dashboard </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CREATE CONTACT -->
<div class="modal fade" id="exampleContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Contact</div>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">All</div>
                        <div class="col-8">
                            <form [formGroup]="this.helper.form">
                                <div class="form-group">
                                    <select id="account" class="form-control" formControlName="role">
                                        <option disabled> Filter by role</option>
                                        <option value="country"> Deploy </option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-7 text-uppercase bold">Name</div>
                        <div class="col-5 text-uppercase bold">Role</div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form [formGroup]="this.helper.form">
                                <div class="form-check">
                                    <!--*ngFor="let a of accounts"-->
                                    <input class="form-check-input" type="radio" id="exampleRadios1"
                                        formControlName="radio" value="teste">
                                    <label class="form-check-label w-100" for="exampleRadios1">
                                        <div class="row">
                                            <div class="col-7 txt-orange semibold">Elon Musk</div>
                                            <div class="col-5 semibold">CEO</div>
                                        </div>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-4">All</div>
                        <div class="col-8">Filter by Role</div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-7">
                            <div class="text-uppercase bold">Name</div>
                        </div>
                        <div class="col-5">
                            <div class="text-uppercase bold">Role</div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-7">
                            <div class="txt-orange semibold">Elon Musk</div>
                        </div>
                        <div class="col-5">
                            <div class="semibold">CEO</div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>