@import 'helpers';
@import 'variables';
@import 'components';

.select-dash {
    @include media-breakpoint-up(lg) {
        position: absolute;
        bottom: 3px;
        padding: 0px;
    } 
}

.search-dash {
    font-size: 12px;
    letter-spacing: 3px;;
    text-transform: uppercase;
    font-family: 'OpenSans-Bold';
}
.form-control {
    border-radius: 8px;
    // padding: 0 10px;
    border: 1px solid $color-5;
    background-color: transparent;
}
.title-dash {
    color: $color-7;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'OpenSans-SemiBold';
}
.txt-small { font-size: 12px;}
.txt-medium { font-size: 25px;}
.txt-large { font-size: 40px; }

.line {
    padding: 10px 0;
    border-bottom: 2px solid rgb(112, 112, 112, 0.3);
    &.v1 { border: none;}
}
.progress {
    height: 30px;
    .progress-bar {
        background-color: $color-7;
    }
}
.accounts-border {
    padding: 10px 0;
    &.left-right { 
        border-left: 2px solid rgb(112, 112, 112, 0.3);
        border-right: 2px solid rgb(112, 112, 112, 0.3);
    }
    &.bottom {
        // border-bottom: 2px solid rgb(112, 112, 112, 0.3);
    }
    &.v1 { border-bottom: none; }
}