<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-11 mx-auto mt-3">
                    <div class="row">
                        <div class="col-lg-10 p-0">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h1 class="bold">Dashboard</h1>                                
                                </div>                                
                                <div class="col-lg-2">
                                    <a href="http://" class="btn btn-maestro gray w-100">
                                        <img src="./assets/icons/download.svg" alt="icon-download">
                                        Export as
                                    </a>                              
                                </div>
                            </div>
                            <div class="col-12 select-dash">
                                <div class="row">
                                    <div class="col-lg-3 col-6">
                                        <p class="search-dash">Account</p> 
                                        <form> <!--[formGroup]="account"-->
                                            <div class="form-group">
                                                <select id="account" class="form-control"> <!--formControlName="Account"-->
                                                    <option disabled> All</option>
                                                    <option value="country"> Deploy </option>
                                                </select>
                                            </div>                                        
                                        </form>
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <p class="search-dash">Play</p> 
                                        <form> <!--[formGroup]="play"-->
                                            <div class="form-group">
                                                <select id="play" class="form-control"> <!--formControlName="Play"-->
                                                    <option disabled> All</option>
                                                    <option value="country"> Play </option>
                                                </select>
                                            </div>                                        
                                        </form>
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <p class="search-dash">Touchpoint</p> 
                                        <form> <!--[formGroup]="touchpoint"-->
                                            <div class="form-group">
                                                <select id="touchpoint" class="form-control"> <!--formControlName="Touchpoint"-->
                                                    <option disabled> All</option>
                                                    <option value="country"> Touchpoint </option>
                                                </select>
                                            </div>                                        
                                        </form>
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <p class="search-dash">visuazation</p> 
                                        <form> <!--[formGroup]="visuazation"-->
                                            <div class="form-group">
                                                <select id="visuazation" class="form-control"> <!--formControlName="visuazation"-->
                                                    <option disabled> Weekly </option>
                                                    <option value="country"> Monthly </option>
                                                </select>
                                            </div>                                        
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <p class="search-dash">Period</p>                                                          
                            <div class="row">
                                <div class="col-lg-12 col-6">
                                    <mat-form-field color="accent" appearance="fill" class="w-100">
                                        <mat-label>Inicial</mat-label>
                                        <input matInput [matDatepicker]="picker1">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1 color="primary"></mat-datepicker>
                                    </mat-form-field>                                       
                                </div>
                                <div class="col-lg-12 col-6">
                                    <mat-form-field color="accent" appearance="fill" class="w-100">
                                        <mat-label>Final</mat-label>
                                        <input matInput [matDatepicker]="picker2">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                    </mat-form-field> 
                                </div>
                            </div>                
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-11 mx-auto mt-4 p-0">
                    <div class="title-dash"> Quick Cards</div>
                    <p class="txt-gray">FREQUENTLY EXECUTED ACTIONS </p>
                    <div class="row">
                        <div class="col-lg-3 col-6 mt-3">
                            <div class="quickcard">
                                Start Pre-Play
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mx-auto mt-3">
                            <div class="quickcard">
                                Show Plays
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mx-auto mt-3">
                            <div class="quickcard">
                                Manage touch-points
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mt-3">
                            <div class="quickcard">
                                Start Sales Play
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-6 mx-auto mt-3">
                            <div class="quickcard">
                                + Customize Yourself
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mx-auto mt-3">
                            <div class="quickcard">
                                + Customize Yourself
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mx-auto mt-3">
                            <div class="quickcard">
                                + Customize Yourself
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mx-auto mt-3">
                            <div class="quickcard">
                                + Customize Yourself
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <div class="row">
                <div class="col-11 mx-auto my-4">
                    <p class="title-dash"> Big Numbers</p>
                    <div class="row">
                        <div class="col-lg-4 mx-auto mt-3">
                            <div class="quickcard">
                                <div class="row">
                                    <div class="col-12 txt-medium"> 
                                        <div class="line">
                                            Engaged <br/>Target Accounts </div>
                                        </div>
                                    <div class="col-12">
                                        <div class="line">
                                            <div class="text-uppercase txt-small">Cold</div>
                                            <div class="col-6 mx-auto">
                                                <div class="row">
                                                    <div class="col-3 my-auto">
                                                        <div class="txt-green text-center">7%</div>
                                                    </div>
                                                    <div class="col-1 p-0 my-auto">
                                                        <img src="./assets/icons/arrow-green.svg" class="w-100" alt="seta-para-cima">
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="txt-large">256</div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                                                               
                                    </div>
                                    <div class="col-12">
                                        <div class="line">
                                            <div class="text-uppercase txt-small">Hot</div>
                                            <div class="col-6 mx-auto">
                                                <div class="row">
                                                    <div class="col-3 my-auto">
                                                        <div class="txt-green text-center">7%</div>
                                                    </div>
                                                    <div class="col-1 p-0 my-auto">
                                                        <img src="./assets/icons/arrow-green.svg" class="w-100" alt="seta-para-cima">
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="txt-large">256</div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                         
                                    </div>
                                    <div class="col-12">
                                        <div class="line v1">
                                            <div class="text-uppercase txt-small">Responses</div>
                                            <div class="col-6 mx-auto">
                                                <div class="row">
                                                    <div class="col-3 my-auto">
                                                        <div class="txt-red text-center">-3%</div>
                                                    </div>
                                                    <div class="col-1 p-0 my-auto">
                                                        <img src="./assets/icons/arrow-red.svg" class="w-100" alt="seta-para-cima">
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="txt-large">187</div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-lg-4 mx-auto mt-3">
                            <div class="quickcard">                                
                                <div class="row">
                                    <div class="col-12 txt-medium">
                                        <div class="line">
                                            Opportunities<br/> on the Pipeline</div>
                                        </div>
                                    <div class="col-12">
                                        <div class="line v1">
                                            <div class="text-uppercase txt-small">Decision Makers</div>
                                            <div class="col-6 mx-auto">
                                                <div class="row">
                                                    <div class="col-3 my-auto">
                                                        <div class="txt-green text-center">7%</div>
                                                    </div>
                                                    <div class="col-1 p-0 my-auto">
                                                        <img src="./assets/icons/arrow-green.svg" class="w-100" alt="seta-para-cima">
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="txt-large">13</div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col-12">
                                        <div class="line v1">
                                            <div class="text-uppercase txt-small">Influente contact</div>
                                            <div class="col-6 mx-auto">
                                                <div class="row">
                                                    <div class="col-3 my-auto">
                                                        <div class="txt-red text-center">-3%</div>
                                                    </div>
                                                    <div class="col-1 p-0 my-auto">
                                                        <img src="./assets/icons/arrow-red.svg" class="w-100" alt="seta-para-cima">
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="txt-large">9</div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col-12">
                                        <div class="line v1">
                                            <div class="text-uppercase txt-small">All Contacts</div>
                                            <div class="col-6 mx-auto">
                                                <div class="row">
                                                    <div class="col-3 my-auto">
                                                        <div class="txt-green text-center">7%</div>
                                                    </div>
                                                    <div class="col-1 p-0 my-auto">
                                                        <img src="./assets/icons/arrow-green.svg" class="w-100" alt="seta-para-cima">
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="txt-large">25</div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mx-auto mt-3">
                            <div class="quickcard">                                
                                <div class="row">
                                    <div class="col-12 txt-medium">
                                        <div class="line">
                                            New Business <br/> Closed</div>
                                        </div>
                                    <div class="col-12">
                                        <div class="line v1">
                                            <div class="text-uppercase txt-small">Interactio Window</div>
                                            <div class="col-6 mx-auto">
                                                <div class="row">
                                                    <div class="col-2 p-0 my-auto">
                                                        <div class="txt-green text-center">-3%</div>
                                                    </div>
                                                    <div class="col-1 p-0 my-auto">
                                                        <img src="./assets/icons/arrow-green.svg" class="w-100" alt="seta-para-cima">
                                                    </div>
                                                    <div class="col-9 p-0">
                                                        <div class="txt-large">7 days</div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col-12">
                                        <div class="line v1">
                                            <div class="text-uppercase txt-small">Average Content Per contact</div>
                                            <div class="col-6 mx-auto">
                                                <div class="row">
                                                    <div class="col-3 my-auto">
                                                        <div class="txt-green text-center">13%</div>
                                                    </div>
                                                    <div class="col-1 p-0 my-auto">
                                                        <img src="./assets/icons/arrow-green.svg" class="w-100" alt="seta-para-cima">
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="txt-large">4</div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <div class="row">
                <div class="col-11 mx-auto">
                    <p class="title-dash">Highlights</p>
                    <div class="row">
                        <div class="col-lg-4 mx-auto">
                            <div class="quickcard">        
                                <div class="col-11 mx-auto">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img src="./assets/photos/Elon_Musk.png" class="w-100" alt="photos-highlights">
                                                </div>
                                                <div class="col-7 text-left">
                                                    <div class="txt-orange bold">Elon Musk</div>
                                                    <div class="txt-gray bold">CEO, Tesla</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-left mt-3">
                                            <div>Had been on your website 5x last week. </div>
                                            <div class=" bold">So, you should approach Him now </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mx-auto">
                            <div class="quickcard">                                
                                <div class="col-11 mx-auto">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img src="./assets/photos/Elon_Musk.png" class="w-100" alt="photos-highlights">
                                                </div>
                                                <div class="col-7 text-left">
                                                    <div class="txt-orange bold">Elon Musk</div>
                                                    <div class="txt-gray bold">CEO, Tesla</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-left mt-3">
                                            <div>Had been on your website 5x last week. </div>
                                            <div class=" bold">So, you should approach Him now </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mx-auto">
                            <div class="quickcard">                                
                                <div class="col-11 mx-auto">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img src="./assets/photos/Elon_Musk.png" class="w-100" alt="photos-highlights">
                                                </div>
                                                <div class="col-7 text-left">
                                                    <div class="txt-orange bold">Elon Musk</div>
                                                    <div class="txt-gray bold">CEO, Tesla</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 text-left mt-3">
                                            <div>Had been on your website 5x last week. </div>
                                            <div class=" bold">So, you should approach Him now </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <div class="row">
                <div class="col-11 mx-auto my-5">
                    <p class="title-dash">Accounts journey on your funnel</p>
                    <div class="row">
                        <div class="col-12">
                            <div class="quickcard">
                                <div class="row">
                                    <div class="col-lg-6 col-4"> 
                                        <div>Accounts Reached</div>       
                                        <!-- <div class="row mt-4"> -->
                                            <div class="col-12 accounts-border bottom">
                                                <div class="row">
                                                    <div class="col-3">Qualified</div>
                                                    <div class="col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 accounts-border bottom">
                                                <div class="row">
                                                    <div class="col-3">Aware</div>
                                                    <div class="col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 accounts-border bottom">
                                                <div class="row">
                                                    <div class="col-3">Engaged</div>
                                                    <div class="col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 accounts-border bottom">
                                                <div class="row">
                                                    <div class="col-3">MQA</div>
                                                    <div class="col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 accounts-border bottom">
                                                <div class="row">
                                                    <div class="col-3">Hot Accounts</div>
                                                    <div class="col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 accounts-border bottom">
                                                <div class="row">
                                                    <div class="col-3">Opportunity</div>
                                                    <div class="col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 accounts-border bottom">
                                                <div class="row">
                                                    <div class="col-3">Customer</div>
                                                    <div class="col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 accounts-border bottom">
                                                <div class="row">
                                                    <div class="col-3">Cross-sell</div>
                                                    <div class="col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 accounts-border v1">
                                                <div class="row">
                                                    <div class="col-3">Retention</div>
                                                    <div class="col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- </div> -->
                                    </div>
                                    <div class="col-2 p-0">
                                        <div>Volume</div>
                                        <div class="txt-gray">New</div>
                                        <!-- <div class="row mt-4"> -->
                                            <div class="col-12 accounts-border bottom">23</div>
                                            <div class="col-12 accounts-border bottom">23</div>
                                            <div class="col-12 accounts-border bottom">23</div>
                                            <div class="col-12 accounts-border bottom">23</div>
                                            <div class="col-12 accounts-border bottom">23</div>
                                            <div class="col-12 accounts-border bottom">23</div>
                                            <div class="col-12 accounts-border bottom">23</div>
                                            <div class="col-12 accounts-border bottom">23</div>
                                            <div class="col-12 accounts-border bottom">23</div>
                                        <!-- </div>                                       -->
                                    </div>
                                    <div class="col-2 accounts-border left-right p-0">
                                        <div>Speed</div>   
                                        <div class="txt-gray">Days</div>
                                        <!-- <div class="row mt-4"> -->
                                            <div class="col-12 accounts-border bottom">7</div>
                                            <div class="col-12 accounts-border bottom">7</div>
                                            <div class="col-12 accounts-border bottom">7</div>
                                            <div class="col-12 accounts-border bottom">7</div>
                                            <div class="col-12 accounts-border bottom">7</div>
                                            <div class="col-12 accounts-border bottom">7</div>
                                            <div class="col-12 accounts-border bottom">7</div>
                                            <div class="col-12 accounts-border bottom">7</div>
                                            <div class="col-12 accounts-border bottom">7</div>
                                        <!-- </div>                                      -->
                                    </div>
                                    <div class="col-2">
                                        <div>Conversion Rate</div>
                                        <div class="txt-gray">%</div>
                                        <!-- <div class="row mt-4"> -->
                                            <div class="col-12 accounts-border bottom">47%</div>
                                            <div class="col-12 accounts-border bottom">47%</div>
                                            <div class="col-12 accounts-border bottom">47%</div>
                                            <div class="col-12 accounts-border bottom">47%</div>
                                            <div class="col-12 accounts-border bottom">47%</div>
                                            <div class="col-12 accounts-border bottom">47%</div>
                                            <div class="col-12 accounts-border bottom">47%</div>
                                            <div class="col-12 accounts-border bottom">47%</div>
                                            <div class="col-12 accounts-border bottom">47%</div>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  