@import 'helpers';
@import 'variables';
@import 'components';

.menu {
    height: 5vh;
    @include media-breakpoint-up(lg) {
        height: 94vh;
        position: fixed;
    }
}
.icon-maestro {
    @include media-breakpoint-down(md) {
        position: absolute;
        left: 10px;
    }
    @media only screen and (min-width: 600px)  and (max-width: 991px) {
        img {width: 60px !important;}
    }
}
.itens-nav {
    position: absolute;
    left: 60px;
    @media only screen and (min-width: 600px)  and (max-width: 991px) {
        left: 125px;
        top: 0px;
    }
    @include media-breakpoint-up(lg) {
        top: 150px;
        left: 0;
    }
}
.info-nav {
    position: absolute;
    right: 10px;
    @include media-breakpoint-down(md) { 
        padding: 0 10px; 
        top: 10px;
    }
    @include media-breakpoint-up(lg) {
        bottom: 0px;
        right: 0;
    }
    @media only screen and (min-width: 600px)  and (max-width: 991px) {
        img {width: 40px !important;}
    }
}
.icons {
    height: 40px;
    cursor: pointer;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) { background-size: 100%; }
    @media only screen and (min-width: 768px)  and (max-width: 991px){ display: block;}
    @media only screen and (min-width: 600px)  and (max-width: 991px) { width: 35px; }
    &.home {
        background-image: url(../../../../assets/icons/home.svg);            
        &:hover {
            background-image: url(../../../../assets/icons/home-orange.svg);
        }
    }
    &.dashboard {
        @include media-breakpoint-up(lg) {padding: 40px 0;}
        background-image: url(../../../../assets/icons/line-horizontal.svg);            
        &:hover {
            background-image: url(../../../../assets/icons/line-horizontal-orange.svg);
        }
    }
    &.accounts {        
        @include media-breakpoint-up(lg) {padding: 40px 0;}
        background-image: url(../../../../assets/icons/users.svg);            
        &:hover {
            background-image: url(../../../../assets/icons/user-orange.svg);
        }
    }  
    &.play {
        @include media-breakpoint-up(lg) {padding: 0 0 60px;}
        background-image: url(../../../../assets/icons/play.svg);            
        &:hover {
            background-image: url(../../../../assets/icons/play-orange.svg);
        }
    }   
    &.integrations {
        background-image: url(../../../../assets/icons/code-white.svg);            
        &:hover {
            background-image: url(../../../../assets/icons/code-orange.svg);
        }
    } 
}
.drop-play {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 70px;
    height: auto;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    // box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
    @include media-breakpoint-up(lg) {
        left: 90px;
        top: 0;
        height: 100vh;
        width: 225px;
        border-radius: 0 10px 10px 0;
    } 
}
.show { display: none; }
.txt-gray { cursor:  pointer;}
.title-list { 
    cursor: pointer ;
    white-space: nowrap ;
    overflow: hidden ;  
    text-overflow: ellipsis ;
    padding: 5px 15px 0px 0px ;

}
.scroll-play {
    max-height: 65vh ;
    overflow-y: scroll ;
    overflow-x: hidden ;
    &::-webkit-scrollbar {width: 3px;}
    &::-webkit-scrollbar-thumb {background-color: $color-7;}
}
.card-play {
    @include media-breakpoint-up(lg) {
        min-height: 95vh;
    }
}
.btn-play {
    @include media-breakpoint-up(lg) {
        position: absolute; bottom: 0px;
    }
}
.arrow-play { position: absolute;right: 0;}

.dropConfig {
    position: absolute;
    left: 112px;
    top: 0;
    width: 200px;
    @include media-breakpoint-down(md) { left: 0;}
    @media only screen and (min-width: 768px)  and (max-width: 991px){ left: 0px;}
    .abaConfig {
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .cardConfig {
        position: absolute;
        z-index: 1;
        width: 100%;
        border-radius: 0 10px 10px 0;
        background-color: $color-6;
        @include media-breakpoint-down(md) { top: 80px;}
        @media only screen and (min-width: 768px)  and (max-width: 991px){ top: 80px;}
        @include media-breakpoint-up(lg) {bottom: 0px; } 
    }
    .txt-config {
        cursor: pointer;
        color: $color-1;
        padding: 10px 15px;
        font-family: 'OpenSans-SemiBold';
        &:hover { color: $color-7;}
    }
}
.cursor { cursor: pointer; }