<div class="container-fluid">
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 col-12 menu">
            <div class="row">
                <div class="col-lg-8 col-2 mx-auto icon-maestro">
                    <a href="javascript:void(0)" routerLinkActive='active' routerLink=''>
                        <img src="./assets/logos/maestro-icon.svg" class="w-100" alt="icone-maestro">
                    </a>
                </div>
                <div class="col-lg-12 col-8 mx-auto itens-nav">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7 col-sm-2 col-2 mx-auto padding">
                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='first-entry'>
                                <div class="icons home" (click)="onplay('close')" ></div>
                            </a>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-sm-2 col-2  mx-auto padding">
                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='dashboard'>
                                <div class="icons dashboard"(click)="onplay('close')" ></div> 
                            </a>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-sm-2 col-2  mx-auto padding">
                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='account/account-list'>
                                <div class="icons accounts"(click)="onplay('close')" ></div> 
                            </a>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-sm-2 col-2  mx-auto padding">
                            <div class="icons play" (click)="onplay()"></div> 
                        </div>
                        <div class="col-xl-7 col-lg-7 col-sm-2 col-2  mx-auto padding ">
                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='integrations'>
                                <div class="icons integrations" (click)="onplay('close')" ></div> 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-2 info-nav">
                    <div class="row">
                        <div class="col-lg-7 col-6 mx-auto padding">
                            <img src="./assets/icons/help.svg" class="w-100 mb-2" alt="icone-informações">
                        </div>
                        <div class="col-lg-7 col-6 mx-auto cursor padding" (click)="onconfig()">
                            <img src="./assets/icons/settings.svg" class="w-100 mb-2" alt="icone-configurações">
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-escuro drop-play" *ngIf="play">
    <div class="row">
        <div class="col-12 card-play">
            <div class="row">
                <div class="col-1"  (click)="onplay()">
                    <img src="./assets/icons/arrow-left.svg"  class="arrow-back" alt="voltar">
                </div>
                <div class="col-lg-8 col-10 mx-auto">
                    <h4 class="txt-orange bold">Plays</h4>
                </div>
            </div>
            <div class="col-12 p-0 mt-2">
                <form> <!--[formGroup]="searchplay" -->
                    <div class="form-group">
                        <input placeholder="Busca"  #p (input)="search(p.value)" class="form-control"> <!-- formControlName="searchplay"-->
                    </div>                                        
                </form>
            </div>  
            <div class="col-12 p-0 scroll-play">
                <div class="txt-orange text-uppercase">Plays</div>
                <div class="my-3" *ngFor="let play of plays; index as i" (click)="getPlays(i)">
                    <div class="bold txt-white title-list ">
                        {{play.name}}
                        <img src="./assets/icons/arrow-down.svg" class="arrow-play mt-2" alt="abrir">
                    </div>
                    
                    <div class="ml-3 show" *ngFor="let account of play.accounts" (click)="getPlay(play._id)">
                        <div class="txt-gray">{{ account.account_name }}</div>
                    </div>
                </div>           
            </div>    
            <div class="col-12 btn-play">
                <a href="javascript:void(0)" routerLinkActive='active' routerLink='playbook'
                    class="btn btn-maestro w-100" (click)="onplay()">
                    <img src="./assets/icons/plus.svg" alt="new-play">
                    New Play
                </a>
            </div>      
        </div>        
    </div>
</div>
<div class="container-fluid dropConfig" *ngIf="config">
    <div class="row">
        <div class="col-12 abaConfig">
            <div class="row">
                <div class="col-lg-12 cardConfig">
                    <div class="row">
                        <div class="col-12 txt-config" data-toggle="modal" data-target="#exampleModalLabelChange">Change Password</div>
                        <div class="col-12 txt-config" data-toggle="modal" data-target="#exampleModal">Add User to Company</div>
                        <div class="col-12 txt-config" (click)="logout()">Logout</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Register -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add User to Company</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="registerUser">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="username" id="" placeholder="Username" ><!--[ngClass]="{ 'is-invalid': submitted && f.username.errors }"-->
                <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">O campo email é Obrigatório</div>
                </div> -->
            </div> 
            <div class="col-12">
                <div class="row">                                     
                    <div class="col-12 text-center" href="javascript:void(0)" routerLinkActive='active' routerLink='/admin'>
                        <button class="btn btn-maestro orange w-50" (click)=" addUser()">Add User</button> <!--[disabled]="login.invalid"-->
                    </div>                                        
                </div>
            </div>     
          </form>
        </div>
      </div>
    </div>
</div>

<!-- Modal alterar -->
<div class="modal fade" id="exampleModalLabelChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="change">
                 
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="password" id="" placeholder="*New Password*">
                </div>  
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="confirmpass" id="" placeholder="Confirm Password*">
                </div>  
                <div class="col-12">
                    <div class="row">                                     
                        <div class="col-12 text-center" href="javascript:void(0)" routerLinkActive='active' routerLink='/admin'>
                            <button class="btn btn-maestro orange w-50" (click)=" changePassword()">Change Password</button> 
                        </div>                                        
                    </div>
                </div>                                 
            </form>
        </div>
      </div>
    </div>
</div>