
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$maestro-primary: mat-palette($mat-indigo);
$maestro-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$maestro-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$maestro-theme: mat-light-theme($maestro-primary, $maestro-accent, $maestro-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($maestro-theme);

/* You can add global styles to this file, and also import other style files */
@import 'helpers';
@import 'variables';
@import 'components';

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./assets/fonts/OpenSans/OpenSans-Bold.eot');
    src: url('./assets/fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
        url('./assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
        url('./assets/fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
        url('./assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('./assets/fonts/OpenSans/OpenSans-SemiBold.eot');
    src: url('./assets/fonts/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/OpenSans/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg'),
        url('./assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype'),
        url('./assets/fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
        url('./assets/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
