@import 'helpers';
@import 'variables';
@import 'components';

.quickcard {
    height: 95vh;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 3px;
        right: 10px;

    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-7;
        border-radius: 20px;
    }
}
.title-form {
    text-align: left;
    font-size: 16px;
}
.form-group { 
    padding: 2px 5px;
    text-align: left !important;
    border-radius: 10px;
    background-color: $color-17;
    input, select { 
        color: $color-5;
        border: none;
        background-color: $color-17;
    }
    label { 
        font-size: 10px;
        color: $color-16;
        text-transform: uppercase;
    }
}