<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-9 col-11 mx-auto mt-3">
                    <div class="quickcard">
                        <div class="col-11 mx-auto">
                            <div class="row">
                                <div class="col-10 mx-auto">
                                    <h4>You can’t manage <br /> what you can’t measure.</h4>
                                </div>
                                <div class="col-12 mt-4">
                                    <form [formGroup]="playAddForm">
                                        <div class="title-form">How would you like name your play?</div>
                                        <div class="form-group">
                                            <label for="name">Play Name?</label>
                                            <input (input)="getnamePlay($event.target.value)" type="text"
                                                class="form-control" id="name" aria-describedby="emailHelp"
                                                placeholder="ie. My moonshot play" autocomplete="off"
                                                maxlength="60">
                                        </div>
                                        <div class="title-form">Set a goal</div>
                                        <div class="form-group">
                                            <label>Goal</label>
                                            <select (input)="getObj($event.target.value)" class="form-control"
                                                id="goal">
                                                <option>Select</option>
                                                <option value="Selling">Selling</option>
                                                <option value="Training">Training</option>
                                                <option value="Lobby">Lobby</option>
                                                <option value="Influency">Influency</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="target">Which is your revenue target?</label>
                                            <input (input)="gethowMuch($event.target.value)" type="number"
                                                class="form-control" id="target" aria-describedby="emailHelp"
                                                placeholder="ie. $25000" autocomplete="off">
                                        </div>
                                        <div class="title-form">Which is your budget for this play?</div>
                                        <div class="form-group">
                                            <label for="budget">How Much?</label>
                                            <input (input)="getbudget($event.target.value)" type="number"
                                                class="form-control" id="budget" aria-describedby="emailHelp"
                                                placeholder="ie. $25000" autocomplete="off">
                                        </div>
                                        <div class="title-form">How Long will it last?</div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="start_date" class="col-2 col-form-label">start</label>
                                                    <div class="col-10">
                                                        <input (input)="getstartDate($event.target.value)"
                                                            class="form-control" type="date" [(value)]="start_date"
                                                            id="start_date">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="expected_end_date"
                                                        class="col-2 col-form-label">end</label>
                                                    <div class="col-10">
                                                        <input (input)="getendDate($event.target.value)"
                                                            class="form-control" type="date" value="expected_end_date"
                                                            id="expected_end_date">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-3 col-12 mt-2 btn-next">
                                                <a class="btn btn-maestro w-100" (click)="this.helper.select('target')"
                                                    routerLinkActive='active' routerLink='/admin/newplay/target'>
                                                    Back
                                                </a>
                                            </div>
                                            <div class="col-lg-3 col-12 mt-2 btn-next">
                                                <a class="btn btn-maestro orange w-100" (click)="addPlay()">
                                                    Create play
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>