@import 'helpers';
@import 'variables';
@import 'components';

/*Nav do Playbook*/
.nav-play { 
    padding: 10px 30px;    
    @include media-breakpoint-up(lg) {
        height: 100vh;
        border-radius: 0 10px 10px 0;
    }
}
.arrow-back {
    position: absolute;
    left: 0px;
    @include media-breakpoint-down(md) {
        left: 10px;
    }
}
h3 {
    padding: 35px 10px 25px;
    @include media-breakpoint-down(md) {
        padding: 0px 40px;
    }
}
.opc-play {
    color: $color-1;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    font-family: 'OpenSans-SemiBold';
    @include media-breakpoint-down(md) {
        padding: 10px 0px;
        text-align: center;
    }
    &:hover {
        color: $color-7;
        @include media-breakpoint-down(md) {
            border-radius: 10px;
            border: 1px solid $color-7;
        }
    }
    @include media-breakpoint-up(lg) {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 2px;
            z-index: 1;
            background-color: $color-11;
        }
    }
    &.v1 { color: $color-7; }
}

/*Página*/
.create-btn { position: absolute; right: 0px; }
.form-control { height: 8vh; border-radius: 10px; border: none;}
.card-play { 
    border-radius: 10px;
    padding: 50px 0;
    color: $color-1;
    cursor: pointer;
    text-align: center;
    background-color: $color-7;
    font-family: 'OpenSans-SemiBold';
    &.white { 
        border-radius: 0 0 10px 10px;
        padding: 20px;
        color: $color-5;
        text-align: left;
        background-color: $color-1;
    }
}

/* modal */

.modal-title {
    font-size: 30px;
    @include media-breakpoint-up(lg) {
        padding: 0 155px 0 0;
    }
}

.card-create { 
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: $color-4;
    border-left: 2px solid $color-7;
    .txt-create {
        font-size: 15px;
    }
    .txt-create:hover{
        color: #f05b36;
    }
}
.modal-backdrop{
    display: none;
}
.Option{
    display: flex;
    flex-direction: column;
}