<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-2 col-12 bg-escuro nav-play">
                    <a href="javascript:void(0)" routerLinkActive='active' [routerLink]="['/admin/first-entry']">
                        <img src="./assets/icons/arrow-left.svg" class="arrow-back" alt="voltar">
                    </a>
                    <div class="row">
                        <div class="col-12">
                            <h3 class="bold txt-white">Playbook</h3>
                        </div>
                        <div class="col-lg-10 col-3 opc-play v1" (click)="playbook('Myplays')">My Plays</div>
                        <div class="col-12">
                            <h3 class="bold txt-white">Templates</h3>
                        </div>
                        <div class="col-lg-10 col-3 opc-play" (click)="playbook('Awareness')">Awareness</div>
                        <div class="col-lg-10 col-3 opc-play" (click)="playbook('Preplay')">Pré-Play</div>
                        <div class="col-lg-10 col-4 opc-play" (click)="playbook('Marketing')">Marketing</div>
                        <div class="col-lg-10 col-3 opc-play" (click)="playbook('Sales')">Sales</div>
                        <div class="col-lg-10 col-2 opc-play" (click)="playbook('CS')">CS</div>
                    </div>
                </div>
                <div class="col-lg-9 col-12 mx-auto">
                    <div class="row">
                        <h1 class="bold">Playbooks</h1>
                        <div class="row">
                            <div class="col-12 mt-5 p-0">
                                <form class="form-inline mt-3">
                                    <div class="col-7 form-group p-0">
                                        <input type="text" name="" id="playbook" class="form-control w-100"
                                            placeholder="Search">
                                    </div>
                                    <div class="col-lg-3 col-12 create-btn p-0">
                                        <a class="btn btn-maestro orange w-100" [routerLink]="['/admin/newplay']">Create
                                            a
                                            blank play</a>
                                    </div>


                                    <!-- </div> -->
                                </form>
                            </div>
                            <div class="col-12 p-0">
                                <div class="row">
                                    <div class="col-lg-4 col-6 mt-3" *ngFor="let p of play">
                                        <a *ngIf="p.name" (click)="getSubType($event.target.name)" [name]="p.title"
                                            href="javascript:void(0)" routerLinkActive='active'
                                            routerLink='/admin/playsrunning/{{p._id}}'>
                                            <div class="card-play text-uppercase">
                                                {{ p.text }}
                                            </div>
                                            <div class="card-play white">
                                                {{ p.name }}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Allplays" tabindex="-1" role="dialog" aria-labelledby="Allplays" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">All Plays</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!-- Modal Create -->
<div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="playModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">What kind of play do you want to create?</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-create mt-3" (click)="openCreate('a')">
                    Awareness
                    <div class="Option" *ngIf="createawareness">
                        <a (click)="getSubType($event.target.name)" [name]="a.name " class="txt-create"
                            [routerLink]="['/admin/newplay']" *ngFor="let a of playbookTemplates.preplay">
                            {{ a.name }}
                        </a><br>
                    </div>
                </div>
                <div class="card-create mt-3" (click)="openCreate('p')">
                    Pre-Play
                    <div class="Option" *ngIf="createpreplay">
                        <a (click)="getSubType($event.target.name)" [name]="p.name " class="txt-create"
                            [routerLink]="['/admin/newplay']" *ngFor="let p of playbookTemplates.preplay">
                            {{ p.name}}
                        </a><br>
                    </div>
                </div>
                <div class="card-create mt-3" (click)="openCreate('m')">
                    Marketing
                    <div class="Option" *ngIf="createmkt">
                        <a (click)="getSubType($event.target.name)" [name]="m.name " class="txt-create"
                            [routerLink]="['/admin/newplay']" *ngFor="let m of playbookTemplates.marketing">
                            {{ m.name }}
                        </a><br>
                    </div>
                </div>
                <div class="card-create mt-3" (click)="openCreate('s')">
                    Sales
                    <div class="Option" *ngIf="createsales">
                        <a (click)="getSubType($event.target.name)" [name]="s.name" class="txt-create"
                            [routerLink]="['/admin/newplay']" *ngFor="let s of playbookTemplates.sales">
                            {{ s.name }}
                        </a>
                    </div>
                </div>
                <div class="card-create mt-3" (click)="openCreate('c')">
                    CS
                    <div class="Option" *ngIf="createcs">
                        <a (click)="getSubType($event.target.name)" [name]="c.name" class="txt-create"
                            [routerLink]="['/admin/newplay']" *ngFor="let c of playbookTemplates.cs">
                            {{ c.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>