<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 mx-auto">
                    <h1 class="bold">Contact List</h1>
                    <div class="row">
                        <div class="col-12 quickcard v1">
                            <div class="row">
                                <div class="col-lg-3 col-6">
                                    <a class="btn btn-maestro orange w-100" routerLinkActive='active'
                                        routerLink='/admin/account/contact-list-add'>
                                        <img src="./assets/icons/plus-white-a.svg" alt="new-icon">
                                        New Contact List
                                    </a>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <a class="btn btn-maestro blue w-100"
                                    data-toggle="modal" data-target="#exampleModalContactList">
                                        <img src="./assets/icons/hand.svg" alt="action-icon">
                                        Actions
                                    </a>
                                </div>
                                <div class="col-lg-6 col-11 mx-auto search-account">
                                    <div class="row">
                                        <div class="col-lg-8 col-8 mt-2">
                                            <form>
                                                <div class="form-group">
                                                    <input placeholder="Busca"  #c (input)="search(c.value)" class="form-control"> 
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-4 col-4">
                                            <a class="btn btn-maestro gray w-100">
                                                <img src="./assets/icons/download-a.svg" alt="download-icon">
                                                Export
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-5">
                                    <div class="row">
                                        <div class="col-2 text-center list-account">name</div>
                                        <div class="col-1 text-center text-uppercase list-account">nº de contacts</div>
                                        <div class="col-1 text-center text-uppercase list-account">type</div>
                                        <div class="col-2 text-center text-uppercase list-account">contacts</div>
                                        <div class="col-1 text-center list-account">favorite</div>
                                        <div class="col-1 text-center list-account">created by</div>
                                        <div class="col-2 text-center list-account">created since</div>
                                        <div class="col-1 list-account">update in</div>
                                        <div class="col-1 list-account">actions</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <form [formGroup]="this.helper.form">
                                        <div class="form-check" *ngFor="let c of contacts">
                                            <div class="row">
                                                <div class="col-2 list-account v1 my-auto">{{ c.name }}</div>
                                                <div class="col-1 text-center  text-uppercase list-account v1 my-auto">{{
                                                    c.number_contacts }}</div>
                                                <div class="col-1 text-center text-uppercase list-account v1 my-auto">{{ c.type }}
                                                </div>

                                                <div class="col-2 text-uppercase list-account v1 my-auto list-email">
                                                    <select class="text-uppercase list-account v1 my-auto list-email" name="accountContact" id="accountContact">
                                                      <option *ngFor="let contact of c.contacts" value={{c.contact_id}} >
                                                            {{contact.contact_name}}
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="col-1 text-center list-account v1 text-left my-auto">
                                                    <img *ngIf="c.favorite" src="./assets/icons/star-complete.svg"
                                                        alt="" [id]="c.id">
                                                    <img *ngIf="!c.favorite" src="./assets/icons/star.svg" alt=""
                                                        [id]="c.id">
                                                </div>
                                                <div class="col-1 text-center list-account v1 my-auto">{{ c.created_by }}</div>
                                                <div class="col-2 text-center list-account v1 my-auto">{{ c.created_since | date:
                                                    'dd/MM/yyyy'}}</div>
                                                <div class="col-1 list-account v1 my-auto">{{ c.updated_in | date:
                                                    'dd/MM/yyyy'}}</div>
                                                <div class="col-1 list-account v1 my-auto" data-toggle="modal"
                                                    data-target="#modalDetailContact">

                                                    <button class="btn btn-maestro orange detail-button"
                                                        (click)="detailContactList(c)">
                                                        detail
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Contact -->
<div class="modal fade" id="modalDetailContact" tabindex="-1" role="dialog" aria-labelledby="modalDetailContact"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetailContact">Contact List Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="listContactForm">
                    <div class="form-group">

                        <div class="row">
                            <div class="col-lg-6 pr-0">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" formControlName="name" id="" placeholder="Name">
                            </div>

                            <div class="col-lg-3">
                                <label for="type">Type</label>
                                <select name="type" id="type" formControlName="type" class="form-control">
                                    <option value=".txt" [selected]="true">TXT</option>
                                    <option value=".csv">CSV</option>
                                    <option value=".xlsx">XLSX</option>
                                </select>
                            </div>

                            <div class="col-lg-3 pl-0 mt-4">
                                <div class="form-control">
                                    <label><input type="checkbox" formControlName="favorite" id="favorite"
                                            name="favorite"> Favorite</label>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label for="contact">Add contact</label>
                                <select name="contact" id="contact" formControlName="contact" 
                                class="form-control" (click)="contactNotInContactList()">
                                    <option value="" [selected]="true" disabled>Select Contact</option>
                                    <option *ngFor="let contact of contacts_not_in_contactList" value={{contact._id}}>
                                        {{contact.name}}
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mt-3" href="javascript:void(0)" routerLinkActive='active'
                            routerLink='/admin/account/contact-list'>
                            <button class="btn btn-maestro orange w-100" data-dismiss="modal"
                                (click)="updateContactList()">Update</button>
                        </div>
                        <div class="col-6 mt-3" href="javascript:void(0)" routerLinkActive='active'
                            routerLink='/admin/account/contact-list'>
                            <button class="btn btn-maestro red w-100" data-dismiss="modal"
                                (click)="deleteContactList()">Exclude</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Actions -->
<div class="modal fade" id="exampleModalContactList" tabindex="-1" role="dialog" aria-labelledby="exampleModalContactList" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Actions</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h2>Futuramente teremos mais ações.</h2>
            </div>
        </div>
    </div>
</div>